<h2 style="font-size:24px;font-weight:700;display:block;margin-block-end:19.92px;margin-block-start:19.92px;margin-inline-end:0px;margin-inline-start:0px;">テサロニケ人への第二の手紙</h2>
<div id="1" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第1章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:1</em>パウロとシルワノとテモテから、わたしたちの父なる神と主イエス・キリストとにあるテサロニケ人たちの教会へ。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:2</em>父なる神と主イエス・キリストから、恵みと平安とが、あなたがたにあるように。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:3</em>兄弟たちよ。わたしたちは、いつもあなたがたのことを神に感謝せずにはおられない。またそうするのが当然である。それは、あなたがたの信仰が大いに成長し、あなたがたひとりびとりの愛が、お互の間に増し加わっているからである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:4</em>そのために、わたしたち自身は、あなたがたがいま受けているあらゆる迫害と患難とのただ中で示している忍耐と信仰とにつき、神の諸教会に対してあなたがたを誇としている。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:5</em>これは、あなたがたを、神の国にふさわしい者にしようとする神のさばきが正しいことを、証拠だてるものである。その神の国のために、あなたがたも苦しんでいるのである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:6</em>すなわち、あなたがたを悩ます者には患難をもって報い、悩まされているあなたがたには、わたしたちと共に、休息をもって報いて下さるのが、神にとって正しいことだからである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:7</em>それは、主イエスが炎の中で力ある天使たちを率いて天から現れる時に実現する。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:8</em>その時、主は神を認めない者たちや、わたしたちの主イエスの福音に聞き従わない者たちに報復し、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:9</em>そして、彼らは主のみ顔とその力の栄光から退けられて、永遠の滅びに至る刑罰を受けるであろう。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:10</em>その日に、イエスは下ってこられ、聖徒たちの中であがめられ、すべて信じる者たちの間で驚嘆されるであろう――わたしたちのこのあかしは、あなたがたによって信じられているのである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:11</em>このためにまた、わたしたちは、わたしたちの神があなたがたを召しにかなう者となし、善に対するあらゆる願いと信仰の働きとを力強く満たして下さるようにと、あなたがたのために絶えず祈っている。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:12</em>それは、わたしたちの神と主イエス・キリストとの恵みによって、わたしたちの主イエスの御名があなたがたの間であがめられ、あなたがたも主にあって栄光を受けるためである。
</div>
</div>
<div id="2" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第2章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:1</em>さて兄弟たちよ。わたしたちの主イエス・キリストの来臨と、わたしたちがみもとに集められることとについて、あなたがたにお願いすることがある。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:2</em>霊により、あるいは言葉により、あるいはわたしたちから出たという手紙によって、主の日はすでにきたとふれまわる者があっても、すぐさま心を動かされたり、あわてたりしてはいけない。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:3</em>だれがどんな事をしても、それにだまされてはならない。まず背教のことが起り、不法の者、すなわち、滅びの子が現れるにちがいない。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:4</em>彼は、すべて神と呼ばれたり拝まれたりするものに反抗して立ち上がり、自ら神の宮に座して、自分は神だと宣言する。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:5</em>わたしがまだあなたがたの所にいた時、これらの事をくり返して言ったのを思い出さないのか。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:6</em>そして、あなたがたが知っているとおり、彼が自分に定められた時になってから現れるように、いま彼を阻止しているものがある。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:7</em>不法の秘密の力が、すでに働いているのである。ただそれは、いま阻止している者が取り除かれる時までのことである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:8</em>その時になると、不法の者が現れる。この者を、主イエスは口の息をもって殺し、来臨の輝きによって滅ぼすであろう。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:9</em>不法の者が来るのは、サタンの働きによるのであって、あらゆる偽りの力と、しるしと、不思議と、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:10</em>また、あらゆる不義の惑わしとを、滅ぶべき者どもに対して行うためである。彼らが滅びるのは、自分らの救となるべき真理に対する愛を受けいれなかった報いである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:11</em>そこで神は、彼らが偽りを信じるように、迷わす力を送り、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:12</em>こうして、真理を信じないで不義を喜んでいたすべての人を、さばくのである。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:13</em>しかし、主に愛されている兄弟たちよ。わたしたちはいつもあなたがたのことを、神に感謝せずにはおられない。それは、神があなたがたを初めから選んで、御霊によるきよめと、真理に対する信仰とによって、救を得させようとし、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:14</em>そのために、わたしたちの福音によりあなたがたを召して、わたしたちの主イエス・キリストの栄光にあずからせて下さるからである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:15</em>そこで、兄弟たちよ。堅く立って、わたしたちの言葉や手紙で教えられた言伝えを、しっかりと守り続けなさい。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:16</em>どうか、わたしたちの主イエス・キリストご自身と、わたしたちを愛し、恵みをもって永遠の慰めと確かな望みとを賜わるわたしたちの父なる神とが、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:17</em>あなたがたの心を励まし、あなたがたを強めて、すべての良いわざを行い、正しい言葉を語る者として下さるように。
</div>
</div>
<div id="3" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第3章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:1</em>最後に、兄弟たちよ。わたしたちのために祈ってほしい。どうか主の言葉が、あなたがたの所と同じように、ここでも早く広まり、また、あがめられるように。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:2</em>また、どうか、わたしたちが不都合な悪人から救われるように。事実、すべての人が信仰を持っているわけではない。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:3</em>しかし、主は真実なかたであるから、あなたがたを強め、悪しき者から守って下さるであろう。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:4</em>わたしたちが命じる事を、あなたがたは現に実行しており、また、実行するであろうと、わたしたちは、主にあって確信している。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:5</em>どうか、主があなたがたの心を導いて、神の愛とキリストの忍耐とを持たせて下さるように。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:6</em>兄弟たちよ。主イエス・キリストの名によってあなたがたに命じる。怠惰な生活をして、わたしたちから受けた言伝えに従わないすべての兄弟たちから、遠ざかりなさい。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:7</em>わたしたちに、どうならうべきであるかは、あなたがた自身が知っているはずである。あなたがたの所にいた時には、わたしたちは怠惰な生活をしなかったし、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:8</em>人からパンをもらって食べることもしなかった。それどころか、あなたがたのだれにも負担をかけまいと、日夜、労苦し努力して働き続けた。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:9</em>それは、わたしたちにその権利がないからではなく、ただわたしたちにあなたがたが見習うように、身をもって模範を示したのである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:10</em>また、あなたがたの所にいた時に、「働こうとしない者は、食べることもしてはならない」と命じておいた。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:11</em>ところが、聞くところによると、あなたがたのうちのある者は怠惰な生活を送り、働かないで、ただいたずらに動きまわっているとのことである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:12</em>こうした人々に対しては、静かに働いて自分で得たパンを食べるように、主イエス・キリストによって命じまた勧める。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:13</em>兄弟たちよ。あなたがたは、たゆまずに良い働きをしなさい。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:14</em>もしこの手紙にしるしたわたしたちの言葉に聞き従わない人があれば、そのような人には注意をして、交際しないがよい。彼が自ら恥じるようになるためである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:15</em>しかし、彼を敵のように思わないで、兄弟として訓戒しなさい。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:16</em>どうか、平和の主ご自身が、いついかなる場合にも、あなたがたに平和を与えて下さるように。主があなたがた一同と共におられるように。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:17</em>ここでパウロ自身が、手ずからあいさつを書く。これは、わたしのどの手紙にも書く印である。わたしは、このように書く。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:18</em>どうか、わたしたちの主イエス・キリストの恵みが、あなたがた一同と共にあるように。
</div>
</div>


</div></div></div>