<h2 style="font-size:24px;font-weight:700;display:block;margin-block-end:19.92px;margin-block-start:19.92px;margin-inline-end:0px;margin-inline-start:0px;">アモス書</h2>
<div id="1" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第1章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:1</em>テコアの牧者のひとりであるアモスの言葉。これはユダの王ウジヤの世、イスラエルの王ヨアシの子ヤラベアムの世、地震の二年前に、彼がイスラエルについて示されたものである。
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:2</em>彼は言った、<br>「主はシオンからほえ、<br>エルサレムから声を出される。<br>牧者の牧場は嘆き、<br>カルメルの頂は枯れる」。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:3</em>主はこう言われる、<br>「ダマスコの三つのとが、<br>四つのとがのために、<br>わたしはこれを罰してゆるさない。<br>これは彼らが鉄のすり板で、<br>ギレアデを踏みにじったからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:4</em>わたしはハザエルの家に火を送り、<br>ベネハダデのもろもろの宮殿を焼き滅ぼす。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:5</em>わたしはダマスコの貫の木を砕き、<br>アベンの谷から住民を断ち、<br>ベテエデンから王のつえをとる者を断つ。<br>スリヤの民はキルに捕えられて行く」と<br>主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:6</em>主はこう言われる、<br>「ガザの三つのとが、<br>四つのとがのために、<br>わたしはこれを罰してゆるさない。<br>これは彼らが人々をことごとく捕えて行って、<br>エドムに渡したからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:7</em>わたしはガザの石がきに火を送り、<br>そのもろもろの宮殿を焼き滅ぼす。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:8</em>わたしはアシドドから住民を断ち、<br>アシケロンから王のつえをとる者を断つ。<br>わたしはまた手をかえしてエクロンを撃つ。<br>そして残ったペリシテびとも滅びる」と<br>主なる神は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:9</em>主はこう言われる、<br>「ツロの三つのとが、<br>四つのとがのために、<br>わたしはこれを罰してゆるさない。<br>これは彼らが人々をことごとくエドムに渡し、<br>また兄弟の契約を心に留めなかったからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:10</em>それゆえ、わたしはツロの石がきに火を送り、<br>そのもろもろの宮殿を焼き滅ぼす」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:11</em>主はこう言われる、<br>「エドムの三つのとが、<br>四つのとがのために、<br>わたしはこれを罰してゆるさない。<br>これは彼がつるぎをもってその兄弟を追い、<br>全くあわれみの情を断ち、<br>常に怒って、人をかき裂き、<br>ながくその憤りを保ったからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:12</em>それゆえ、わたしはテマンに火を送り、<br>ボズラのもろもろの宮殿を焼き滅ぼす」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:13</em>主はこう言われる、<br>「アンモンの人々の三つのとが、<br>四つのとがのために、<br>わたしはこれを罰してゆるさない。<br>これは彼らがその国境を広げるために、<br>ギレアデのはらんでいる女を<br>ひき裂いたからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:14</em>それゆえ、わたしはラバの石がきに火をはなち、<br>そのもろもろの宮殿を焼き滅ぼす。<br>これは戦いの日に、ときの声をもってせられ、<br>つむじ風の日に、暴風をもってせられる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:15</em>彼らの王はそのつかさたちと共に<br>捕えられて行く」と主は言われる。</div>
</div>
</div>
<div id="2" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第2章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:1</em>主はこう言われる、<br>「モアブの三つのとが、<br>四つのとがのために、<br>わたしはこれを罰してゆるさない。<br>これは彼がエドムの王の骨を焼いて<br>灰にしたからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:2</em>それゆえ、わたしはモアブに火を送り、<br>ケリオテのもろもろの宮殿を焼き滅ぼす。<br>モアブは騒ぎと、ときの声と、<br>ラッパの音の中に死ぬ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:3</em>わたしはそのうちから、支配者を断ち、<br>そのすべてのつかさを彼と共に殺す」と<br>主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:4</em>主はこう言われる、<br>「ユダの三つのとが、<br>四つのとがのために、<br>わたしはこれを罰してゆるさない。<br>これは彼らが主の律法を捨て、その定めを守らず、<br>その先祖たちが従い歩いた<br>偽りの物に惑わされたからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:5</em>それゆえ、わたしはユダに火を送り、<br>エルサレムのもろもろの宮殿を焼き滅ぼす」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:6</em>主はこう言われる、<br>「イスラエルの三つのとが、<br>四つのとがのために、<br>わたしはこれを罰してゆるさない。<br>これは彼らが正しい者を金のために売り、<br>貧しい者をくつ一足のために売るからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:7</em>彼らは弱い者の頭を地のちりに踏みつけ、<br>苦しむ者の道をまげ、<br>また父子ともにひとりの女のところへ行って、<br>わが聖なる名を汚す。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:8</em>彼らはすべての祭壇のかたわらに<br>質に取った衣服を敷いて、その上に伏し、<br>罰金をもって得た酒を、その神の家で飲む。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:9</em>さきにわたしはアモリびとを<br>彼らの前から滅ぼした。<br>これはその高きこと、香柏のごとく、<br>その強きこと、かしの木のようであったが、<br>わたしはその上の実と、下の根とを滅ぼした。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:10</em>わたしはまた、あなたがたを<br>エジプトの地から連れ上り、<br>四十年のあいだ荒野で、あなたがたを導き、<br>アモリびとの地を獲させた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:11</em>わたしはあなたがたの子らのうちから<br>預言者を起し、<br>あなたがたの若者のうちからナジルびとを起した。<br>イスラエルの人々よ、そうではないか」と<br>主は言われる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:12</em>「ところがあなたがたはナジルびとに酒を飲ませ、<br>預言者に命じて『預言するな』と言う。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:13</em>見よ、わたしは麦束をいっぱい積んだ車が<br>物を圧するように、<br>あなたがたをその所で圧する。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:14</em>速く走る者も逃げ場を失い、<br>強い者もその力をふるうことができず、<br>勇士もその命を救うことができない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:15</em>弓をとる者も立つことができず、<br>足早の者も自分を救うことができず、<br>馬に乗る者もその命を救うことができない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:16</em>勇士のうちの雄々しい心の者も<br>その日には裸で逃げる」と<br>主は言われる。</div>
</div>
</div>
<div id="3" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第3章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:1</em>イスラエルの人々よ、<br>主があなたがたに向かって言われたこと、<br>わたしがエジプトの地から導き上った<br>全家に向かって言ったこの言葉を聞け。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:2</em>「地のもろもろのやからのうちで、<br>わたしはただ、あなたがただけを知った。<br>それゆえ、わたしはあなたがたの<br>もろもろの罪のため、あなたがたを罰する。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:3</em>ふたりの者がもし約束しなかったなら、<br>一緒に歩くだろうか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:4</em>ししがもし獲物がなかったなら、<br>林の中でほえるだろうか。<br>若いししがもし物をつかまなかったなら、<br>その穴から声を出すだろうか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:5</em>もしわながなかったなら、<br>鳥は地に張った網にかかるだろうか。<br>網にもし何もかからなかったなら、<br>地からとびあがるだろうか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:6</em>町でラッパが鳴ったなら、<br>民は驚かないだろうか。<br>主がなされるのでなければ、<br>町に災が起るだろうか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:7</em>まことに主なる神は<br>そのしもべである預言者にその隠れた事を<br>示さないでは、何事をもなされない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:8</em>ししがほえる、<br>だれが恐れないでいられよう。<br>主なる神が語られる、<br>だれが預言しないでいられよう」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:9</em>アッスリヤにあるもろもろの宮殿、<br>エジプトの地にあるもろもろの宮殿に宣べて言え、<br>「サマリヤの山々に集まり、<br>そのうちにある大いなる騒ぎと、<br>その中で行われる暴虐とを見よ」と。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:10</em>主は言われる、<br>「彼らは正義を行うことを知らず、<br>しえたげ取った物と奪い取った物とを<br>そのもろもろの宮殿にたくわえている」。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:11</em>それゆえ主なる神はこう言われる、<br>「敵がきて、この国を囲み、<br>あなたの防備をあなたから取り除き、<br>あなたのもろもろの宮殿はかすめられる」。</div>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:12</em>主はこう言われる、「羊飼がししの口から、羊の両足、あるいは片耳を取り返すように、サマリヤに住むイスラエルの人々も、長いすのすみや、寝台の一部を携えて救われるであろう」。
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:13</em>万軍の神、主なる神は言われる、<br>「聞け、そしてヤコブの家に証言せよ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:14</em>わたしはイスラエルのもろもろのとがを罰する日に<br>ベテルの祭壇を罰する。<br>その祭壇の角は折れて、地に落ちる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:15</em>わたしはまた冬の家と夏の家とを撃つ、<br>象牙の家は滅び、大いなる家は消えうせる」と<br>主は言われる。</div>
</div>
</div>
<div id="4" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第4章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:1</em>「バシャンの雌牛どもよ、<br>この言葉を聞け。<br>あなたがたはサマリヤの山におり、<br>弱い者をしえたげ、貧しい者を圧迫し、<br>またその主人に向かって、<br>『持ってきて、わたしたちに飲ませよ』と言う。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:2</em>主なる神はご自分の聖なることによって誓われた、<br>見よ、あなたがたの上にこのような時が来る。<br>その時、人々はあなたがたをつり針にかけ、<br>あなたがたの残りの者を<br>魚つり針にかけて引いて行く。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:3</em>あなたがたはおのおのまっすぐに<br>石がきの破れた所を出て、<br>ハルモンに追いやられる」と<br>主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:4</em>「あなたがたはベテルへ行って罪を犯し、<br>ギルガルへ行って、とがを増し加えよ。<br>朝ごとに、あなたがたの犠牲を携えて行け、<br>三日ごとに、あなたがたの十分の一を携えて行け。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:5</em>種を入れたパンの感謝祭をささげ、<br>心よりの供え物をふれ示せ。<br>イスラエルの人々よ、<br>あなたがたはこのようにするのを好んでいる」と<br>主なる神は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:6</em>「わたしはまた、あなたがたのすべての町で<br>あなたがたの歯を清くし、<br>あなたがたのすべての所でパンを乏しくした。<br>それでも、あなたがたはわたしに帰らなかった」と<br>主は言われる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:7</em>「わたしはまた、刈入れまでなお三月あるのに<br>雨をとどめて、あなたがたの上にくださず、<br>この町には雨を降らし、<br>かの町には雨を降らさず、<br>この畑は雨をえ、<br>かの畑は雨をえないで枯れた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:8</em>そこで二つ三つの町が<br>一つの町によろめいて行って、<br>水を飲んでも、飽くことができなかった。<br>それでも、あなたがたはわたしに帰らなかった」と<br>主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:9</em>「わたしは立ち枯れと腐り穂とをもって<br>あなたがたを撃ち、<br>あなたがたの園と、ぶどう畑とを荒した。<br>いちじくの木とオリブの木とは、いなごが食った。<br>それでも、あなたがたはわたしに帰らなかった」と<br>主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:10</em>「わたしはエジプトにしたように<br>あなたがたのうちに疫病を送り、<br>つるぎをもってあなたがたの若者を殺し、<br>あなたがたの馬を奪い去り、<br>あなたがたの宿営の臭気を上らせて、<br>あなたがたの鼻をつかせた。<br>それでも、あなたがたはわたしに帰らなかった」と<br>主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:11</em>「わたしはあなたがたのうちの町を<br>神がソドムとゴモラを滅ぼされた時のように<br>滅ぼしたので、<br>あなたがたは炎の中から取り出された<br>燃えさしのようであった。<br>それでも、あなたがたはわたしに帰らなかった」と<br>主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:12</em>「それゆえイスラエルよ、<br>わたしはこのようにあなたに行う。<br>わたしはこれを行うゆえ、<br>イスラエルよ、あなたの神に会う備えをせよ」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:13</em>見よ、彼は山を造り、風を創造し、<br>人にその思いのいかなるかを示し、<br>また、あけぼのを変えて暗やみとなし、<br>地の高い所を踏まれる者、<br>その名を万軍の神、主と言う。</div>
</div>
</div>
<div id="5" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第5章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:1</em>イスラエルの家よ、わたしが悲しみの歌をもって、あなたがたについて宣べるこの言葉を聞け、
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:2</em>「おとめイスラエルは倒れて、<br>また起き上がらず、<br>彼女はおのれの地に投げ倒されて<br>これを起す者がない」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:3</em>主なる神はこう言われる、<br>「イスラエルの家では、<br>千人出た町は百人残り、<br>百人出た町は十人残る」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:4</em>主はイスラエルの家にこう言われる、<br>「あなたがたはわたしを求めよ、そして生きよ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:5</em>ベテルを求めるな、<br>ギルガルに行くな。<br>ベエルシバにおもむくな。<br>ギルガルは必ず捕えられて行き、<br>ベテルは無に帰するからである」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:6</em>あなたがたは主を求めよ、そして生きよ。<br>さもないと主は火のように<br>ヨセフの家に落ち下られる。<br>火はこれを焼くが、<br>ベテルのためにこれを消す者はひとりもない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:7</em>あなたがた、公道をにがよもぎに変え、<br>正義を地に投げ捨てる者よ。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:8</em>プレアデスおよびオリオンを造り、<br>暗黒を朝に変じ、<br>昼を暗くして夜となし、<br>海の水を呼んで、地のおもてに注がれる者、<br>その名は主という。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:9</em>主は滅びをたちまち強い者に臨ませられるので、<br>滅びはついに城に臨む。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:10</em>彼らは門にいて戒める者を憎み、<br>真実を語る者を忌みきらう。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:11</em>あなたがたは貧しい者を踏みつけ、<br>彼から麦の贈り物をとるゆえ、<br>あなたがたは切り石の家を建てても、<br>その中に住むことはできない。<br>美しいぶどう畑を作っても、<br>その酒を飲むことはできない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:12</em>わたしは知る、あなたがたのとがは多く、<br>あなたがたの罪は大きいからである。<br>あなたがたは正しい者をしえたげ、まいないを取り、<br>門で貧しい者を退ける。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:13</em>それゆえ、このような時には賢い者は沈黙する、<br>これは悪い時だからである。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:14</em>善を求めよ、悪を求めるな。<br>そうすればあなたがたは生きることができる。<br>またあなたがたが言うように、<br>万軍の神、主はあなたがたと共におられる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:15</em>悪を憎み、善を愛し、門で公義を立てよ。<br>万軍の神、主は、あるいは<br>ヨセフの残りの者をあわれまれるであろう。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:16</em>それゆえ、主なる万軍の神、<br>主はこう言われる、<br>「すべての広場で泣くことがあろう。<br>すべてのちまたで人々は<br>『悲しいかな、悲しいかな』と言う。<br>また彼らは農夫を呼んできて嘆かせ、<br>巧みな泣き女を招いて泣かせ、<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:17</em>またすべてのぶどう畑にも泣くことがあろう。<br>それはわたしがあなたがたの中を<br>通るからである」と主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:18</em>わざわいなるかな、主の日を望む者よ、<br>あなたがたは何ゆえ主の日を望むのか。<br>これは暗くて光がない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:19</em>人がししの前を逃れてもくまに出会い、<br>また家にはいって、手を壁につけると、<br>へびにかまれるようなものである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:20</em>主の日は暗くて、光がなく、<br>薄暗くて輝きがないではないか。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:21</em>わたしはあなたがたの祭を憎み、かつ卑しめる。<br>わたしはまた、あなたがたの聖会を喜ばない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:22</em>たといあなたがたは燔祭や素祭をささげても、<br>わたしはこれを受けいれない。<br>あなたがたの肥えた獣の酬恩祭は<br>わたしはこれを顧みない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:23</em>あなたがたの歌の騒がしい音を<br>わたしの前から断て。<br>あなたがたの琴の音は、わたしはこれを聞かない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:24</em>公道を水のように、<br>正義をつきない川のように流れさせよ。</div>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:25</em>「イスラエルの家よ、あなたがたは四十年の間、荒野でわたしに犠牲と供え物をささげたか。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:26</em>かえってあなたがたの王シクテをにない、あなたがたが自分で作ったあなたがたの偶像、星の神、キウンをになった。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:27</em>それゆえわたしはあなたがたをダマスコのかなたに捕え移す」と、その名を万軍の神ととなえられる主は言われる。
</div>
</div>
<div id="6" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第6章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:1</em>「わざわいなるかな、<br>安らかにシオンにいる者、<br>また安心してサマリヤの山にいる者、<br>諸国民のかしらのうちの著名な人々で、<br>イスラエルの家がきて従う者よ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:2</em>カルネに渡って見よ。<br>そこから大ハマテに行き、<br>またペリシテびとのガテに下って見よ。<br>彼らはこれらの国にまさっているか。<br>彼らの土地はあなたがたの土地よりも大きいか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:3</em>あなたがたは災の日を遠ざけ、<br>強暴の座を近づけている。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:4</em>わざわいなるかな、みずから象牙の寝台に伏し、<br>長いすの上に身を伸ばし、<br>群れのうちから小羊を取り、<br>牛舎のうちから子牛を取って食べ、<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:5</em>琴の音に合わせて歌い騒ぎ、<br>ダビデのように楽器を造り出し、<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:6</em>鉢をもって酒を飲み、<br>いとも尊い油を身にぬり、<br>ヨセフの破滅を悲しまない者たちよ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:7</em>それゆえ今、彼らは捕われて、<br>捕われ人のまっ先に立って行く。<br>そしてかの身を伸ばした者どもの<br>騒ぎはやむであろう」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:8</em>主なる神はおのれによって誓われた、<br>(万軍の神、主は言われる、)<br>「わたしはヤコブの誇を忌みきらい、<br>そのもろもろの宮殿を憎む。<br>わたしはこの町とすべてその中にいる者を渡す」。</div>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:9</em>一つの家に十人の者が残っていても、彼らは死に、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:10</em>そしてその親戚、すなわちこれを焼く者は、骨を家から運びだすために、これを取り上げ、またその家の奥にいる者に向かって、「まだあなたと共にいる者があるか」と言い、「ない」との答がある時、かの人はまた「声を出すな、主の名をとなえるな」と言うであろう。
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:11</em>見よ、主は命じて、<br>大きな家を撃って、みじんとなし、<br>小さな家を撃って、切れ切れとされる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:12</em>馬は岩の上を走るだろうか。<br>人は牛で海を耕すだろうか。<br>ところがあなたがたは公道を毒に変じ、<br>正義の実をにがよもぎに変じた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:13</em>あなたがたはロデバルを喜び、<br>「われわれは自分の力で<br>カルナイムを得たではないか」と言う。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:14</em>それゆえ、万軍の神、主は言われる、<br>「イスラエルの家よ、<br>見よ、わたしは一つの国民を起して、<br>あなたがたに敵対させる。<br>彼らはハマテの入口からアラバの川まで<br>あなたがたを悩ます」。</div>
</div>
</div>
<div id="7" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第7章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:1</em>主なる神はこのようにわたしに示された。見よ、二番草のはえ出る初めに主は、いなごを造られた。見よ、その二番草は王の刈った後に、はえたものである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:2</em>そのいなごが地の青草を食い尽した時、わたしは言った、<div style="display:block;margin-left:32px;text-indent:0px;">「主なる神よ、どうぞ、ゆるしてください。<br>ヤコブは小さい者です、<br>どうして立つことができましょう」。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:3</em>主はこのことについて思いかえされ、<br>「このことは起さない」と主は言われた。</div>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:4</em>主なる神はこのようにわたしに示された。見よ、主なる神はさばきのために火を呼ばれた。火は大淵を焼き、また地を焼こうとした。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:5</em>その時わたしは言った、<div style="display:block;margin-left:32px;text-indent:0px;">「主なる神よ、どうぞ、やめてください。<br>ヤコブは小さい者です、<br>どうして立つことができましょう」。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:6</em>主はこのことについて思いかえされ、<br>「このこともまた起さない」と主なる神は言われた。</div>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:7</em>また主はわたしに示された。見よ、主は測りなわをもって築いた石がきの上に立ち、その手に測りなわをもっておられた。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:8</em>そして主はわたしに言われた、「アモスよ、あなたは何を見るか」。「測りなわ」とわたしが答えると、主はまた言われた、<div style="display:block;margin-left:32px;text-indent:0px;">「見よ、わたしは測りなわを<br>わが民イスラエルの中に置く。<br>わたしはもはや彼らを見過しにしない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:9</em>イサクの高き所は荒され、<br>イスラエルの聖所は荒れはてる。<br>わたしはつるぎをもってヤラベアムの家に立ち向かう」。</div>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:10</em>時にベテルの祭司アマジヤは、イスラエルの王ヤラベアムに人をつかわして言う、「イスラエルの家のただ中で、アモスはあなたにそむきました。この地は彼のもろもろの言葉に耐えることができません。
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:11</em>アモスはこのように言っています、<br>『ヤラベアムはつるぎによって死ぬ、<br>イスラエルは必ず捕えられて行って、<br>その国を離れる』と」。</div>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:12</em>それからアマジヤはアモスに言った、「先見者よ、行ってユダの地にのがれ、かの地でパンを食べ、かの地で預言せよ。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:13</em>しかしベテルでは二度と預言してはならない。ここは王の聖所、国の宮だから」。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:14</em>アモスはアマジヤに答えた、「わたしは預言者でもなく、また預言者の子でもない。わたしは牧者である。わたしはいちじく桑の木を作る者である。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:15</em>ところが主は群れに従っている所からわたしを取り、『行って、わが民イスラエルに預言せよ』と、主はわたしに言われた。
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:16</em>それゆえ今、主の言葉を聞け。<br>あなたは言う、<br>『イスラエルに向かって預言するな、<br>イサクの家に向かって語るな』と。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:17</em>それゆえ、主はこう言われる、<br>『あなたの妻は町で遊女となり、<br>あなたのむすこ、娘たちはつるぎに倒れ、<br>あなたの地は測りなわで分かたれる。<br>そしてあなたは汚れた地で死に、<br>イスラエルは必ず捕えられて行って、<br>その国を離れる』」。</div>
</div>
</div>
<div id="8" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第8章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:1</em>主なる神は、このようにわたしに示された。見よ、ひとかごの夏のくだものがある。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:2</em>主は言われた、「アモスよ、あなたは何を見るか」。わたしは「ひとかごの夏のくだもの」と答えた。すると主はわたしに言われた、<div style="display:block;margin-left:32px;text-indent:0px;">「わが民イスラエルの終りがきた。<br>わたしは再び彼らを見過しにしない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:3</em>その日には宮の歌は嘆きに変り、<br>しかばねがおびただしく、<br>人々は無言でこれを至る所に投げ捨てる」と<br>主なる神は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:4</em>あなたがた、貧しい者を踏みつけ、<br>また国の乏しい者を滅ぼす者よ、<br>これを聞け。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:5</em>あなたがたは言う、<br>「新月はいつ過ぎ去るだろう、<br>そうしたら、われわれは穀物を売ろう。<br>安息日はいつ過ぎ去るだろう、<br>そうしたら、われわれは麦を売り出そう。<br>われわれはエパを小さくし、シケルを大きくし、<br>偽りのはかりをもって欺き、<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:6</em>乏しい者を金で買い、<br>貧しい者をくつ一足で買いとり、<br>また、くず麦を売ろう」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:7</em>主はヤコブの誇をさして誓われた、<br>「わたしは必ず彼らのすべてのわざを<br>いつまでも忘れない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:8</em>これがために地は震わないであろうか。<br>地に住む者はみな嘆かないであろうか。<br>地はみなナイル川のようにわきあがり、<br>エジプトのナイル川のようにみなぎって、また沈まないであろうか」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:9</em>主なる神は言われる、<br>「その日には、<br>わたしは真昼に太陽を沈ませ、<br>白昼に地を暗くし、<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:10</em>あなたがたの祭を嘆きに変らせ、<br>あなたがたの歌をことごとく悲しみの歌に変らせ、<br>すべての人に荒布を腰にまとわせ、<br>すべての人に髪をそり落させ、<br>その日を、ひとり子を失った喪中のようにし、<br>その終りを、苦い日のようにする」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:11</em>主なる神は言われる、<br>「見よ、わたしがききんをこの国に送る日が来る、<br>それはパンのききんではない、<br>水にかわくのでもない、<br>主の言葉を聞くことのききんである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:12</em>彼らは海から海へさまよい歩き、<br>主の言葉を求めて、こなたかなたへはせまわる、<br>しかしこれを得ないであろう。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:13</em>その日には美しいおとめも、<br>若い男もかわきのために気を失う。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:14</em>かのサマリヤのアシマをさして誓い、<br>『ダンよ、あなたの神は生きている』と言い、また<br>『ベエルシバの道は生きている』と言う者どもは<br>必ず倒れる。再び起きあがることはない」。</div>
</div>
</div>
<div id="9" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第9章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:1</em>わたしは祭壇のかたわらに立っておられる主を見た。<br>主は言われた、<br>「柱の頭を打って、敷居を震わせ、<br>これを打ち砕いて、<br>すべての民の頭の上に落ちかからせよ。<br>その残った者を、わたしはつるぎで殺し、<br>そのひとりも逃げおおす者はなく、<br>のがれうる者はない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:2</em>たとい彼らは陰府に掘り下っても、<br>わたしの手はこれをそこから引き出す。<br>たとい彼らは天によじのぼっても、<br>わたしはそこからこれを引きおろす。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:3</em>たとい彼らはカルメルの頂に隠れても、<br>わたしはこれを捜して、そこから引き出す。<br>たとい彼らはわたしの目をのがれて、<br>海の底に隠れても、<br>わたしはへびに命じて、その所でこれをかませる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:4</em>たとい彼らは捕われて、その敵の前に行っても、<br>わたしはその所でつるぎに命じて、これを殺させる。<br>わたしは彼らの上にわたしの目を注ぐ、<br>それは災のためであって、幸のためではない」。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:5</em>万軍の神、主が地に触れられると、地は溶け、<br>その中に住む者はみな嘆き、<br>地はみなナイル川のようにわきあがり、<br>エジプトのナイル川のようにまた沈む。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:6</em>主はご自分の高殿を天に築き、<br>大空の基を地の上にすえ、<br>海の水を呼んで、地のおもてに注がれる。<br>その名は主ととなえられる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:7</em>主は言われる、<br>「イスラエルの子らよ、あなたがたはわたしにとって<br>エチオピヤびとのようではないか。<br>わたしはイスラエルをエジプトの国から、<br>ペリシテびとをカフトルから、<br>スリヤびとをキルから導き上ったではないか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:8</em>見よ、主なる神の目は<br>この罪を犯した国の上に注がれている。<br>わたしはこれを地のおもてから断ち滅ぼす。<br>しかし、わたしはヤコブの家を<br>ことごとくは滅ぼさない」と主は言われる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:9</em>「見よ、わたしは命じて、<br>人がふるいで物をふるうように、<br>わたしはイスラエルの家を万国民のうちでふるう。<br>ひと粒も地に落ちることはない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:10</em>わが民の罪びと、すなわち<br>『災はわれわれに近づかない、<br>われわれに臨まない』と<br>言う者どもはみな、つるぎで殺される。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:11</em>その日には、<br>わたしはダビデの倒れた幕屋を興し、<br>その破損を繕い、そのくずれた所を興し、<br>これを昔の時のように建てる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:12</em>これは彼らがエドムの残った者、<br>およびわが名をもって呼ばれるすべての国民を<br>所有するためである」と<br>この事をなされる主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:13</em>主は言われる、<br>「見よ、このような時が来る。<br>その時には、耕す者は刈る者に相継ぎ、<br>ぶどうを踏む者は種まく者に相継ぐ。<br>もろもろの山にはうまい酒がしたたり、<br>もろもろの丘は溶けて流れる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:14</em>わたしはわが民イスラエルの幸福をもとに返す。<br>彼らは荒れた町々を建てて住み、<br>ぶどう畑を作ってその酒を飲み、<br>園を作ってその実を食べる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:15</em>わたしは彼らをその地に植えつける。<br>彼らはわたしが与えた地から<br>再び抜きとられることはない」と<br>あなたの神、主は言われる。</div>
</div>
</div>


</div></div></div>