<h2 style="font-size:24px;font-weight:700;display:block;margin-block-end:19.92px;margin-block-start:19.92px;margin-inline-end:0px;margin-inline-start:0px;">ホセア書</h2>
<div id="1" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第1章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:1</em>ユダヤの王ウジヤ、ヨタム、アハズ、ヒゼキヤの世、イスラエルの王ヨアシの子ヤラベアムの世に、ベエリの子ホセアに臨んだ主の言葉。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:2</em>主が最初ホセアによって語られた時、主はホセアに言われた、「行って、淫行の妻と、淫行によって生れた子らを受けいれよ。この国は主にそむいて、はなはだしい淫行をなしているからである」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:3</em>そこで彼は行ってデブライムの娘ゴメルをめとった。彼女はみごもって男の子を産んだ。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:4</em>主はまた彼に言われた、「あなたはその子の名をエズレルと名づけよ。しばらくしてわたしはエズレルの血のためにエヒウの家を罰し、イスラエルの家の国を滅ぼすからである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:5</em>その日、わたしはエズレルの谷でイスラエルの弓を折る」と。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:6</em>ゴメルはまたみごもって女の子を産んだ。主はホセアに言われた、「あなたはその名をロルハマと名づけよ。わたしはもはやイスラエルの家をあわれまず、決してこれをゆるさないからである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:7</em>しかし、わたしはユダの家をあわれみ、その神、主によってこれを救う。わたしは弓、つるぎ、戦争、馬および騎兵によって救うのではない」と。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:8</em>ゴメルはロルハマを乳離れさせたとき、またみごもって男の子を産んだ。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:9</em>主は言われた、「その子の名をロアンミと名づけよ。あなたがたは、わたしの民ではなく、わたしは、あなたがたの神ではないからである」。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:10</em>しかしイスラエルの人々の数は海の砂のように量ることも、数えることもできないほどになって、さきに彼らが「あなたがたは、わたしの民ではない」と言われたその所で、「あなたがたは生ける神の子である」と言われるようになる。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:11</em>そしてユダの人々とイスラエルの人々は共に集まり、ひとりの長を立てて、その地からのぼって来る。エズレルの日は大いなるものとなる。
</div>
</div>
<div id="2" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第2章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:1</em>あなたがたの兄弟に向かっては「アンミ（わが民）」と言い、あなたがたの姉妹に向かっては「ルハマ（あわれまれる者）」と言え。<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:2</em>「あなたがたの母とあげつらえ、あげつらえ――<br>彼女はわたしの妻ではない、<br>わたしは彼女の夫ではない――<br>そして彼女にその顔から淫行を除かせ、<br>その乳ぶさの間から姦淫を除かせよ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:3</em>そうでなければ、<br>わたしは彼女の着物をはいで裸にし、<br>その生れ出た日のようにし、<br>また荒野のようにし、<br>かわききった地のようにし、<br>かわきによって彼女を殺す。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:4</em>わたしはその子らをあわれまない、<br>彼らは淫行の子らだからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:5</em>彼らの母は淫行をなし、<br>彼らをはらんだ彼女は恥ずべきことを行った。<br>彼女は言った、<br>『わたしはわが恋人たちについて行こう。<br>彼らはパンと水と羊の毛と麻と油と飲み物とを、<br>わたしに与える者である』と。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:6</em>それゆえ、わたしはいばらで彼女の道をふさぎ、<br>かきをたてて、彼女には<br>その道がわからないようにする。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:7</em>彼女はその恋人たちのあとを慕って行く、<br>しかし彼らに追いつくことはない。<br>彼らを尋ねる、しかし見いだすことはない。<br>そこで彼女は言う、<br>『わたしは行って、さきの夫に帰ろう。<br>あの時は今よりもわたしによかったから』と。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:8</em>彼女に穀物と酒と油とを与えた者、<br>またバアルのために用いた銀と金とを<br>多く彼女に与えた者は、<br>わたしであったことを彼女は知らなかった。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:9</em>それゆえ、わたしは穀物をその時になって奪い、<br>ぶどう酒をその季節になって奪い、<br>また彼女の裸をおおうために用いる<br>羊の毛と麻とを奪い取る。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:10</em>わたしは今、彼女のみだらなことを<br>その恋人たちの目の前にあらわす。<br>だれも彼女をわたしの手から救う者はない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:11</em>わたしは彼女のすべての楽しみ、<br>すなわち祝、新月、安息日、<br>すべての祭をやめさせる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:12</em>わたしはまた彼女が先に『これはわたしの恋人らが、わたしに与えた報酬だ』と言った彼女の<br>ぶどうの木と、いちじくの木とを荒し、<br>これを林とし、<br>野の獣にこれを食わせる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:13</em>また彼女が耳輪と宝石で身を飾り、<br>その恋人たちを慕って行って、わたしを忘れ、<br>香をたいて仕えたバアルの祭の日のために、<br>わたしは彼女を罰すると主は言われる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:14</em>それゆえ、見よ、わたしは彼女をいざなって、<br>荒野に導いて行き、ねんごろに彼女に語ろう。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:15</em>その所でわたしは彼女にそのぶどう畑を与え、<br>アコルの谷を望みの門として与える。<br>その所で彼女は若かった日のように、<br>エジプトの国からのぼって来た時のように、<br>答えるであろう。</div>
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:16</em>主は言われる、その日には、あなたはわたしを『わが夫』と呼び、もはや『わがバアル』とは呼ばない。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:17</em>わたしはもろもろのバアルの名を彼女の口から取り除き、重ねてその名をとなえることのないようにする。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:18</em>その日には、わたしはまたあなたのために野の獣、空の鳥および地の這うものと契約を結び、また弓と、つるぎと、戦争とを地から断って、あなたを安らかに伏させる。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:19</em>またわたしは永遠にあなたとちぎりを結ぶ。すなわち正義と、公平と、いつくしみと、あわれみとをもってちぎりを結ぶ。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:20</em>わたしは真実をもって、あなたとちぎりを結ぶ。そしてあなたは主を知るであろう。<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:21</em>主は言われる、<br>その日わたしは天に答え、<br>天は地に答える。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:22</em>地は穀物と酒と油とに答え、<br>またこれらのものはエズレルに答える。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:23</em>わたしはわたしのために彼を地にまき、<br>あわれまれぬ者をあわれみ、<br>わたしの民でない者に向かって、<br>『あなたはわたしの民である』と言い、<br>彼は『あなたはわたしの神である』と言う」。</div>
</div>
</div>
<div id="3" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第3章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:1</em>主はわたしに言われた、「あなたは再び行って、イスラエルの人々が他の神々に転じて、干ぶどうの菓子を愛するにもかかわらず、主がこれを愛せられるように、姦夫に愛せられる女、姦淫を行う女を愛せよ」と。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:2</em>そこでわたしは銀十五シケルと大麦一ホメル半とをもって彼女を買い取った。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:3</em>わたしは彼女に言った、「あなたは長くわたしの所にとどまって、淫行をなさず、また他の人のものとなってはならない。わたしもまた、あなたにそうしよう」と。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:4</em>イスラエルの子らは多くの日の間、王なく、君なく、犠牲なく、柱なく、エポデおよびテラピムもなく過ごす。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:5</em>そしてその後イスラエルの子らは帰って来て、その神、主と、その王ダビデとをたずね求め、終りの日におののいて、主とその恵みに向かって来る。
</div>
</div>
<div id="4" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第4章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:1</em>イスラエルの人々よ、<br>主の言葉を聞け。<br>主はこの地に住む者と争われる。<br>この地には真実がなく、愛情がなく、<br>また神を知ることもないからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:2</em>ただのろいと、偽りと、人殺しと、<br>盗みと、姦淫することのみで、<br>人々は皆荒れ狂い、<br>殺害に殺害が続いている。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:3</em>それゆえ、この地は嘆き、これに住む者はみな、<br>野の獣も空の鳥も共に衰え、<br>海の魚さえも絶えはてる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:4</em>しかし、だれも争ってはならない、<br>責めてはならない。<br>祭司よ。わたしの争うのは、あなたと争うのだ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:5</em>あなたは昼つまずき、<br>預言者もまたあなたと共に夜つまずく。<br>わたしはあなたの母を滅ぼす。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:6</em>わたしの民は知識がないために滅ぼされる。<br>あなたは知識を捨てたゆえに、<br>わたしもあなたを捨てて、わたしの祭司としない。<br>あなたはあなたの神の律法を忘れたゆえに、<br>わたしもまたあなたの子らを忘れる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:7</em>彼らは大きくなるにしたがって、<br>ますますわたしに罪を犯したゆえ、<br>わたしは彼らの栄えを恥に変える。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:8</em>彼らはわが民の罪を食いものにし、<br>その罪を犯すことをせつに願っている。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:9</em>それゆえ祭司も民と同じようになる。<br>わたしはそのわざのために彼らを罰し、<br>そのおこないのために彼らに報いる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:10</em>彼らは食べても飽くことなく、<br>淫行をなしてもその数を増すことがない。<br>彼らは主を捨てて、淫行を愛したからである。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:11</em>酒と新しい酒とは思慮を奪う。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:12</em>わが民は木に向かって事を尋ねる。<br>またそのつえは彼らに事を示す。<br>これは淫行の霊が彼らを迷わしたからである。<br>彼らはその神を捨てて淫行をなした。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:13</em>彼らは山々の頂で犠牲をささげ、<br>丘の上、かしの木、柳の木、<br>テレビンの木の下で供え物をささげる。<br>これはその木陰がここちよいためである。<br>それゆえ、あなたがたの娘は淫行をなし、<br>あなたがたの嫁は姦淫を行う。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:14</em>わたしはあなたがたの娘が淫行をしても罰しない。<br>またあなたがたの嫁が姦淫を行っても罰しない。<br>男たちみずから遊女と共に離れ去り、<br>宮の遊女と共に犠牲をささげているからである。<br>悟りのない民は滅びる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:15</em>イスラエルよ、あなたは淫行をなしても、<br>ユダに罪を犯させてはならない。<br>ギルガルへ行ってはならない。<br>ベテアベンにのぼってはならない。<br>また「主は生きておられる」と言って<br>誓ってはならない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:16</em>イスラエルは強情な雌牛のように強情である。<br>今、主は小羊を広い野に放つようにして、<br>彼らを養うことができようか。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:17</em>エフライムは偶像に結びつらなった。<br>そのなすにまかせよ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:18</em>彼らは酒宴のとりことなり、<br>淫行にふけっている。<br>彼らはその光栄よりも恥を愛する。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:19</em>風はその翼に彼らを包んだ。<br>彼らはその祭壇のゆえに恥を受ける。</div>
</div>
</div>
<div id="5" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第5章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:1</em>祭司たちよ、これを聞け、<br>イスラエルの家よ、心をとめよ、<br>王の家よ、耳を傾けよ、<br>さばきはあなたがたに臨む。<br>あなたがたはミヅパにわなを設け、<br>タボルの上に網を張ったからだ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:2</em>彼らはシッテムの穴を深くしたが、<br>わたしは彼らをことごとく懲らしめる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:3</em>わたしはエフライムを知っている。<br>イスラエルはわたしに隠れることがない。<br>エフライムよ、あなたは今淫行をなし、<br>イスラエルは汚された。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:4</em>彼らのおこないは彼らを神に帰らせない。<br>それは淫行の霊が彼らのうちにあって、<br>主を知ることができないからだ。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:5</em>イスラエルの誇はその顔に向かって証言している。<br>エフライムはその不義によってつまずき、<br>ユダもまた彼らと共につまずく。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:6</em>彼らは羊の群れ、牛の群れを携えて行って、<br>主を求めても、主に会うことはない。<br>主は彼らから離れ去られた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:7</em>彼らは主にむかって貞操を守らず、<br>ほかの者の子を産んだ。<br>新月は彼らをその田畑と共に滅ぼす。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:8</em>ギベアで角笛を吹き、<br>ラマでラッパを鳴らし、<br>ベテアベンで呼ばわり叫べ。<br>ベニヤミンよ、おののけ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:9</em>エフライムは刑罰の日に荒れすたれる。<br>わたしはイスラエルの部族のうちに、<br>必ず起るべき事を知らせる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:10</em>ユダの君たちは境を移す者のようになった。<br>わたしはわが怒りを水のように彼らの上に注ぐ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:11</em>エフライムは甘んじて、<br>むなしいものに従って歩んだゆえ、<br>さばきを受けて、しえたげられ、打ちひしがれる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:12</em>それゆえ、わたしはエフライムには、しみのように、<br>ユダの家には腐れのようになる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:13</em>エフライムはおのれの病を見、<br>ユダはおのれの傷を見たとき、<br>エフライムはアッスリヤに行き、<br>大王に人をつかわした。<br>しかし彼はあなたがたをいやすことができない。<br>また、あなたがたの傷をなおすことができない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:14</em>わたしはエフライムに対しては、ししのようになり、<br>ユダの家に対しては若きししのようになる。<br>わたしは、わたしこそ、かき裂いて去り、<br>かすめて行くが、だれも救う者はない。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">5:15</em>わたしは彼らがその罪を認めて、<br>わが顔をたずね求めるまで、<br>わたしの所に帰っていよう。<br>彼らは悩みによって、わたしを尋ね求めて言う、</div>
</div>
</div>
<div id="6" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第6章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:1</em>「さあ、わたしたちは主に帰ろう。<br>主はわたしたちをかき裂かれたが、またいやし、<br>わたしたちを打たれたが、<br>また包んでくださるからだ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:2</em>主は、ふつかの後、わたしたちを生かし、<br>三日目にわたしたちを立たせられる。<br>わたしたちはみ前で生きる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:3</em>わたしたちは主を知ろう、<br>せつに主を知ることを求めよう。<br>主はあしたの光のように必ず現れいで、<br>冬の雨のように、わたしたちに臨み、<br>春の雨のように地を潤される」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:4</em>エフライムよ、わたしはあなたに何をしようか。<br>ユダよ、わたしはあなたに何をしようか。<br>あなたがたの愛はあしたの雲のごとく、<br>また、たちまち消える露のようなものである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:5</em>それゆえ、わたしは預言者たちによって<br>彼らを切り倒し、<br>わが口の言葉をもって彼らを殺した。<br>わがさばきは現れ出る光のようだ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:6</em>わたしはいつくしみを喜び、犠牲を喜ばない。<br>燔祭よりもむしろ神を知ることを喜ぶ。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:7</em>ところが彼らはアダムで契約を破り、<br>かしこでわたしにそむいた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:8</em>ギレアデは悪を行う者の町で、<br>血の足跡で満たされている。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:9</em>盗賊が人を待ち伏せするように、<br>祭司たちは党を組み、<br>シケムへ行く道で人を殺す。<br>このように彼らは悪しき事を行う。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:10</em>わたしはイスラエルの家に恐るべき事を見た。<br>かしこでエフライムは淫行をなし、<br>イスラエルは汚された。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">6:11</em>ユダよ、あなたのためにも刈入れが定められている。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">わたしがわが民の繁栄を回復するとき、</div>
</div>
</div>
<div id="7" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第7章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:1</em>わたしがイスラエルをいやすとき、<br>エフライムの不義と、<br>サマリヤの悪しきわざとは現れる。<br>彼らは偽りをおこない、<br>内では盗びとが押し入り、<br>外では山賊の群れが襲いきたる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:2</em>しかし、彼らはわたしが彼らのすべての悪を<br>覚えていることを悟らない。<br>今、そのわざは彼らを囲んで、<br>わたしの顔の前にある。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:3</em>彼らはその悪をもって王を喜ばせ、<br>その偽りをもって君たちを喜ばせる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:4</em>彼らはみな姦淫を行う者で、<br>パンを焼く者が熱くする炉のようだ。<br>パンを焼く者は、ねり粉をこねてから、<br>それがふくれるまで、しばらく、火をおこす事をしないだけだ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:5</em>われわれの王の日に、<br>つかさたちは酒の熱によって病みわずらい、<br>王はあざける者と共に手を伸べた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:6</em>彼らは陰謀をもってその心を炉のように燃やす。<br>その怒りは夜通しくすぶり、<br>朝になると炎のように燃える。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:7</em>彼らは皆、炉のように熱くなって、<br>そのさばきびとを焼き滅ぼす。<br>そのもろもろの王は皆たおれる。<br>彼らの中にはわたしを呼ぶ者がひとりもない。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:8</em>エフライムはもろもろの民の中に入り混じる。<br>エフライムは火にかけて、かえさない菓子である。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:9</em>他国人らは彼の力を食い尽すが、<br>彼はそれを知らない。<br>しらがが混じってはえても、それを悟らない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:10</em>イスラエルの誇は自らに向かって証言している、<br>彼らはこのもろもろの事があっても、<br>なおその神、主に帰らず、<br>また主を求めない。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:11</em>エフライムは知恵のない愚かな、はとのようだ。<br>彼らはエジプトに向かって呼び求め、<br>またアッスリヤへ行く。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:12</em>彼らが行くとき、わたしは彼らの上に網を張って、<br>空の鳥のように引き落し、<br>その悪しきおこないのゆえに、彼らを懲らしめる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:13</em>わざわいなるかな、彼らはわたしを離れて迷い出た。<br>滅びは彼らに臨む。<br>彼らがわたしに向かって罪を犯したからだ。<br>わたしは彼らをあがなおうと思うが、<br>彼らはわたしに逆らって偽りを言う。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:14</em>彼らは真心をもってわたしを呼ばず、<br>ただ床の上で悲しみ叫ぶ。<br>彼らは穀物と酒のためには集まるが、<br>わたしに逆らう。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:15</em>わたしは彼らを教え、その腕を強くしたが、<br>彼らはわたしに逆らって、悪しき事をはかる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">7:16</em>彼らはバアルに帰る。<br>彼らはあざむく弓のようだ。<br>彼らの君たちはその舌の高ぶりのために、<br>つるぎに倒れる。<br>これはエジプトの国で人々のあざけりとなる。</div>
</div>
</div>
<div id="8" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第8章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:1</em>ラッパをあなたの口にあてよ、<br>はげたかは主の家に臨む。<br>彼らがわたしの契約を破り、<br>わたしの律法を犯したからだ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:2</em>彼らはわたしに向かって叫ぶ、<br>「わが神よ、われわれイスラエルはあなたを知る」と。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:3</em>イスラエルは善はしりぞけた。<br>敵はこれを追うであろう。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:4</em>彼らは王を立てた、<br>しかし、わたしによって立てたのではない。<br>彼らは君を立てた、<br>しかし、わたしはこれを知らない。<br>彼らは銀と金をもって、<br>自分たちの滅びのために偶像を造った。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:5</em>サマリヤよ、わたしはあなたの子牛を忌みきらう。<br>わたしの怒りは彼らに向かって燃える。<br>彼らはいつになればイスラエルで<br>罪なき者となるであろうか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:6</em>これは工人の作ったもので、神ではない。<br>サマリヤの子牛は砕けて粉となる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:7</em>彼らは風をまいて、つむじ風を刈り取る。<br>立っている穀物は穂を持たず、また実らない。<br>たとい実っても、他国人がこれを食い尽す。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:8</em>イスラエルはのまれた。<br>彼らは諸国民の間にあって、<br>すでに無用な器のようになった。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:9</em>彼らはひとりさまよう野のろばのように、<br>アッスリヤにのぼって行った。<br>エフライムは物を贈って恋人を得た。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:10</em>たとい彼らが国々に物を贈って同盟者を得ても、<br>わたしはまもなく彼らを集める。<br>彼らはしばらくにして、<br>王や君たちに油をそそぐことをやめる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:11</em>エフライムは多くの祭壇を造って罪を犯したゆえ、<br>これは彼には罪を犯すための祭壇となった。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:12</em>わたしは彼のために、<br>あまたの律法を書きしるしたが、<br>これはかえって怪しい物のように思われた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:13</em>彼らは犠牲を好み、肉をささげてこれを食べる。<br>しかし主はこれを喜ばれない。<br>今、彼らの不義を覚え、彼らの罪を罰せられる。<br>彼らはエジプトに帰る。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">8:14</em>イスラエルは自分の造り主を忘れて、<br>もろもろの宮殿を建てた。<br>ユダは堅固な町々を多く増し加えた。<br>しかしわたしは火をその町々に送って、<br>もろもろの城を焼き滅ぼす。</div>
</div>
</div>
<div id="9" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第9章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:1</em>イスラエルよ、<br>もろもろの民のように喜びおどるな。<br>あなたは淫行をなして、あなたの神を離れ、<br>すべての穀物の打ち場で受ける淫行の価を愛した。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:2</em>打ち場と酒ぶねとは彼らを養わない。<br>また新しい酒もむなしくなる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:3</em>彼らは主の地に住むことなく、<br>エフライムはエジプトに帰り、<br>アッスリヤで汚れた物を食べる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:4</em>彼らは主に向かって酒を注がず、<br>また犠牲をもって主を喜ばせず、<br>彼らのパンは喪におる者のパンのようで、<br>すべてこれを食べる者は汚される。<br>彼らのパンはただ自分の飢えを満たすためで、<br>主の家に、はいることはできない。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:5</em>あなたがたは祝の日と、主の祭の日に、<br>何をしようとするのか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:6</em>見よ、彼らはアッスリヤへ行く。<br>エジプトは彼らを集め、<br>メンピスは彼らを葬る。<br>あざみは彼らの銀の宝物を所有し、<br>いばらは彼らの天幕にはびこる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:7</em>刑罰の日は来た。<br>報いの日は来た。<br>イスラエルはこれを知る。<br>預言者は愚かな者、<br>霊に感じた人は狂った者だ。<br>これはあなたがたの不義が多く、<br>恨みが大きいためである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:8</em>預言者はわが神の民エフライムの見張人である。<br>しかし預言者のすべての道には<br>鳥をとる者のわながあり、<br>恨みはその神の家にある。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:9</em>彼らはギベアの日のように、<br>深くおのれを腐らせた。<br>主はその不義を覚え、その罪を罰せられる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:10</em>わたしはイスラエルを荒野のぶどうのように見、<br>あなたがたの先祖たちを、<br>いちじくの木の初めに結んだ初なりのように見た。<br>ところが彼らはバアル・ペオルへ行き、<br>身をバアルにゆだね、<br>彼らが愛した物と同じように憎むべき者となった。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:11</em>エフライムの栄光は、鳥のようにとび去る。<br>すなわち産むことも、はらむことも、<br>みごもることもなくなる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:12</em>たとい彼らが子を育てても、<br>わたしはその子を奪って、残る者のないようにする。<br>わたしが彼らを離れるとき、彼らはわざわいだ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:13</em>わたしが見たように、<br>エフライムの子らはえじきに定められた。<br>エフライムはその子らを、<br>人を殺す者に渡さなければならない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:14</em>主よ、彼らに与えてください。<br>あなたは何を与えられますか。<br>流産の胎と、かわいた乳ぶさを<br>彼らに与えてください。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:15</em>彼らのすべての悪はギルガルにある。<br>わたしはかしこで彼らを憎んだ。<br>彼らのおこないの悪しきがゆえに、<br>彼らをわが家から追いだし、<br>重ねて愛することをしない。<br>その君たちはみな、反逆者である。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:16</em>エフライムは撃たれ、<br>その根は枯れて、実を結ばない。<br>たとい彼らが子を産んでも、<br>わたしはそのいつくしむ子らを殺す。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">9:17</em>彼らは聞き従わないので、<br>わが神はこれを捨てられる。<br>彼らはもろもろの国民のうちに、<br>さすらい人となる。</div>
</div>
</div>
<div id="10" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第10章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:1</em>イスラエルは実を結ぶ茂った<br>ぶどうの木である。<br>その実を多く結ぶにしたがって、<br>祭壇を増し、<br>その地の豊かなるにしたがって、<br>柱の像を麗しくした。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:2</em>彼らの心は偽りである。<br>今、彼らはその罪を負わなければならない。<br>主はその祭壇をこわし、<br>その柱の像を砕かれる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:3</em>今、彼らは言う、<br>「われわれは主を恐れないので、<br>われわれには王がない。<br>王はわれわれのために何をなしえようか」と。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:4</em>彼らはむなしき言葉をいだし、<br>偽りの誓いをもって契約を結ぶ。<br>それゆえ、さばきは畑のうねの毒草のように現れる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:5</em>サマリヤの住民は、<br>ベテアベンの子牛のためにおののき、<br>その民はこれがために嘆き、<br>その偶像に仕える祭司たちは、<br>その栄光のうせたるがために泣き悲しむ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:6</em>その子牛はアッスリヤに携えられ、<br>礼物として大王にささげられ、<br>エフライムは恥をうけ、<br>イスラエルはおのれの偶像を恥じる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:7</em>サマリヤの王は、<br>水のおもての木切れのように滅ぼされる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:8</em>イスラエルの罪であるアベンの高き所も滅び、<br>いばらとあざみがその祭壇の上にはえ茂る。<br>その時彼らは山に向かって、<br>「われわれをおおえ」と言い、<br>丘に向かって「われわれの上に倒れよ」と言う。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:9</em>イスラエルよ、<br>あなたはギベアの日からこのかた罪を犯した。<br>彼らはその所に立っていた。<br>戦いはギベアにおる彼らに及ばないであろうか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:10</em>わたしは来てよこしまな民を攻め、<br>これを懲らしめる。<br>彼らがその二つの罪のために懲しめられるとき、<br>もろもろの民は集まって彼らを攻める。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:11</em>エフライムはならされた若い雌牛であって、<br>穀物を踏むことを好む。<br>わたしはその麗しい首を惜しんだ。<br>しかし、わたしはエフライムにくびきをかける。<br>ユダは耕し、<br>ヤコブは自分のために、まぐわをひかねばならない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:12</em>あなたがたは自分のために正義をまき、<br>いつくしみの実を刈り取り、<br>あなたがたの新田を耕せ。<br>今は主を求むべき時である。<br>主は来て救いを雨のように、<br>あなたがたに降りそそがれる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:13</em>あなたがたは悪を耕し、<br>不義を刈りおさめ、<br>偽りの実を食べた。<br>これはあなたがたが自分の戦車を頼み、<br>勇士の多いことを頼んだためである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:14</em>それゆえ、あなたがたの民の中に<br>いくさの騒ぎが起り、<br>シャルマンが戦いの日に<br>ベテ・アルベルを打ち破ったように、<br>あなたがたの城はことごとく打ち破られる。<br>母らはその子らと共に打ち砕かれた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">10:15</em>イスラエルの家よ、<br>あなたがたの大いなる悪のゆえに、<br>このように、あなたがたにも行われ、<br>イスラエルの王は、あらしの中に全く滅ぼされる。</div>
</div>
</div>
<div id="11" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第11章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:1</em>わたしはイスラエルの幼い時、<br>これを愛した。<br>わたしはわが子をエジプトから呼び出した。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:2</em>わたしが呼ばわるにしたがって、<br>彼らはいよいよわたしから遠ざかり、<br>もろもろのバアルに犠牲をささげ、<br>刻んだ像に香をたいた。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:3</em>わたしはエフライムに歩むことを教え、<br>彼らをわたしの腕にいだいた。<br>しかし彼らはわたしにいやされた事を<br>知らなかった。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:4</em>わたしはあわれみの綱、<br>すなわち愛のひもで彼らを導いた。<br>わたしは彼らに対しては、<br>あごから、くびきをはずす者のようになり、<br>かがんで彼らに食物を与えた。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:5</em>彼らはエジプトの地に帰り、<br>アッスリヤびとが彼らの王となる。<br>彼らがわたしに帰ることを拒んだからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:6</em>つるぎは、そのもろもろの町にあれ狂い、<br>その門の貫の木を砕き、その城の中に彼らを滅ぼす。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:7</em>わが民はわたしからそむき去ろうとしている。<br>それゆえ、彼らはくびきをかけられ、<br>これを除きうる者はひとりもいない。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:8</em>エフライムよ、<br>どうして、あなたを捨てることができようか。<br>イスラエルよ、<br>どうしてあなたを渡すことができようか。<br>どうしてあなたをアデマのように<br>することができようか。<br>どうしてあなたをゼボイムのように<br>扱うことができようか。<br>わたしの心は、わたしのうちに変り、<br>わたしのあわれみは、ことごとくもえ起っている。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:9</em>わたしはわたしの激しい怒りをあらわさない。<br>わたしは再びエフライムを滅ぼさない。<br>わたしは神であって、人ではなく、<br>あなたのうちにいる聖なる者だからである。<br>わたしは滅ぼすために臨むことをしない。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:10</em>彼らは主に従って歩む。<br>主はししのほえるように声を出される。<br>主が声を出されると、<br>子らはおののきつつ西から来る。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:11</em>彼らはエジプトから鳥のように、<br>アッスリヤの地から、はとのように急いで来る。<br>わたしは彼らをその家に帰らせると<br>主は言われる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">11:12</em>エフライムは偽りをもって、わたしを囲み、<br>イスラエルの家は欺きをもって、わたしを囲んだ。<br>しかしユダはなお神に知られ、<br>聖なる者に向かって真実である。</div>
</div>
</div>
<div id="12" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第12章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:1</em>エフライムはひねもす風を牧し、<br>東風を追い、<br>偽りと暴虐とを増し加え、<br>アッスリヤと取引をなし、<br>油をエジプトに送った。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:2</em>主はユダと争い、<br>ヤコブをそのしわざにしたがって罰し、<br>そのおこないにしたがって報いられる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:3</em>ヤコブは胎にいたとき、その兄弟のかかとを捕え、<br>成人したとき神と争った。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:4</em>彼は天の使と争って勝ち、<br>泣いてこれにあわれみを求めた。<br>彼はベテルで神に出会い、<br>その所で神は彼と語られた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:5</em>主は万軍の神、その名は主である。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:6</em>それゆえ、あなたはあなたの神に帰り、<br>いつくしみと正しきとを守り、<br>つねにあなたの神を待ち望め。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:7</em>商人はその手に偽りのはかりを持ち、<br>しえたげることを好む。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:8</em>エフライムは言った、<br>「まことにわたしは富める者となった。<br>わたしは自分ために財宝を得た」と。<br>しかし彼のすべての富も<br>その犯した罪をつぐなうことはできない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:9</em>わたしはエジプトの国を出たときから、<br>あなたの神、主である。<br>わたしは祭の日のように、<br>再びあなたを天幕に住まわせよう。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:10</em>わたしは預言者たちに語った。<br>幻を多く示したのはわたしである。<br>わたしは預言者たちによってたとえを語った。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:11</em>もしギレアデに不義があるなら、<br>彼らは必ずむなしき者となる。<br>もし彼らがギルガルで雄牛を犠牲にささげるなら、<br>彼らの祭壇は畑のうねに積んだ石塚のようになる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:12</em>（ヤコブはアラムの地に逃げっていった。<br>イスラエルは妻をめとるために人に仕えた。<br>彼は妻をめとるために羊を飼った。）<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:13</em>主はひとりの預言者によって、<br>イスラエルをエジプトから導き出し、<br>ひとりの預言者によってこれを守られた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">12:14</em>エフライムはいたく主を怒らせた。<br>それゆえ主はその血のとがを彼の上にのこし、<br>そのはずかしめを彼に返される。</div>
</div>
</div>
<div id="13" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第13章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:1</em>エフライムが物言えば、<br>人々はおののいた。<br>彼はイスラエルの中に自分を高くした。<br>しかし彼はバアルによって罪を犯して死んだ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:2</em>そして彼らは今もなおますます罪を犯し、<br>その銀をもって自分のために像を鋳、<br>巧みに偶像を造る。<br>これは皆工人のわざである。<br>彼らは言う、<br>これに犠牲をささげよ、人々は子牛に口づけせよと。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:3</em>それゆえ彼らは朝の霧のように、<br>すみやかに消えうせる露のように、<br>打ち場から風に吹き去られるもみがらのように、<br>また窓から出て行く煙のようになる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:4</em>わたしはエジプトの国を出てからこのかた、<br>あなたの神、主である。<br>あなたはわたしのほかに神を知らない。<br>わたしのほかに救う者はない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:5</em>わたしは荒野で、またかわいた地で、<br>あなたを知った。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:6</em>しかし彼らは食べて飽き、<br>飽きて、その心が高ぶり、わたしを忘れた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:7</em>それゆえ、わたしは彼らに向かって、<br>ししのようになり、<br>ひょうのように道のかたわらに潜んでうかがう。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:8</em>わたしは子を取られた熊のように彼らに出会って、<br>その胸をかきさき、<br>その所で、ししのようにこれを食い尽し、<br>野の獣のようにこれをかき破る。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:9</em>イスラエルよ、わたしはあなたを滅ぼす。<br>だれがあなたを助けることができよう。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:10</em>あなたを助けるあなたの王は今、どこにいるのか。<br>あなたがかつて「わたしに王と君たちとを与えよ」と言ったあなたを保護すべき、すべてのつかさたちは<br>今、どこにいるのか。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:11</em>わたしは怒りをもってあなたに王を与えた、<br>また憤りをもってこれを奪い取った。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:12</em>エフライムの不義は包みおかれ、<br>その罪は積みたくわえられてある。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:13</em>子を産む女の苦しみが彼に臨む。<br>彼は知恵のない子である。<br>生れる時が来ても彼は産門にあらわれない。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:14</em>わたしは彼らを陰府の力から、<br>あがなうことがあろうか。<br>彼らを死から、あがなうことがあろうか。<br>死よ、おまえの災はどこにあるのか。<br>陰府よ、おまえの滅びはどこにあるのか。<br>あわれみは、わたしの目から隠されている。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:15</em>たとい彼は葦のように栄えても、<br>東風が吹いて来る。<br>主の風が荒野から吹き起る。<br>これがためにその源はかれ、その泉はかわく。<br>それはすべての尊い物の宝庫をかすめ奪う。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">13:16</em>サマリヤはその神にそむいたので、<br>その罪を負い、つるぎに倒れ、<br>その幼な子は投げ砕かれ、<br>そのはらめる女は引き裂かれる。</div>
</div>
</div>
<div id="14" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第14章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">14:1</em>イスラエルよ、<br>あなたの神、主に帰れ。<br>あなたは自分の不義によって、つまずいたからだ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">14:2</em>あなたがたは言葉を携えて、主に帰って言え、<br>「不義はことごとくゆるして、<br>よきものを受けいれてください。<br>わたしたちは自分のくちびるの実をささげます。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">14:3</em>アッスリヤはわたしたちを助けず、<br>わたしたちは馬に乗りません。<br>わたしたちはもはや自分たちの手のわざに向かって<br>『われわれの神』とは言いません。<br>みなしごはあなたによって、<br>あわれみを得るでしょう」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">14:4</em>わたしは彼らのそむきをいやし、<br>喜んでこれを愛する。<br>わたしの怒りは彼らを離れ去ったからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">14:5</em>わたしはイスラエルに対しては露のようになる。<br>彼はゆりのように花咲き、<br>ポプラのように根を張り、<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">14:6</em>その枝は茂りひろがり、<br>その麗しさはオリブの木のように、<br>そのかんばしさはレバノンのようになる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">14:7</em>彼らは帰って来て、わが陰に住み、<br>園のように栄え、<br>ぶどうの木のように花咲き、<br>そのかんばしさはレバノンの酒のようになる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">14:8</em>エフライムよ、<br>わたしは偶像となんの係わりがあろうか。<br>あなたに答え、あなたを顧みる者はわたしである。<br>わたしは緑のいとすぎのようだ。<br>あなたはわたしから実を得る。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">14:9</em>知恵のある者はだれか。<br>その人にこれらのことを悟らせよ。<br>悟りある者はだれか。<br>その人にこれらのことを知らせよ。<br>主の道は直く、<br>正しき者はこれを歩む。<br>しかし罪びとはこれにつまずく。</div>
</div>
</div>


</div></div></div>