<h2 style="font-size:24px;font-weight:700;display:block;margin-block-end:19.92px;margin-block-start:19.92px;margin-inline-end:0px;margin-inline-start:0px;">ナホム書</h2>
<div id="1" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第1章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:1</em>ニネベについての託宣。エルコシびとナホムの幻の書。
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:2</em>主はねたみ、かつあだを報いる神、<br>主はあだを報いる者、また憤る者、<br>主はおのがあだに報復し、<br>おのが敵に対して憤りをいだく。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:3</em>主は怒ることおそく、力強き者、<br>主は罰すべき者を決してゆるされない者、<br>主の道はつむじ風と大風の中にあり、<br>雲はその足のちりである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:4</em>彼は海を戒めて、これをかわかし、<br>すべての川をかれさせる。<br>バシャンとカルメルはしおれ、<br>レバノンの花はしぼむ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:5</em>もろもろの山は彼の前に震い、もろもろの丘は溶け、<br>地は彼の前にむなしくなり、<br>世界とその中に住む者も皆、むなしくなる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:6</em>だれが彼の憤りの前に立つことができよう。<br>だれが彼の燃える怒りに耐えることができよう。<br>その憤りは火のように注がれ、<br>岩も彼によって裂かれる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:7</em>主は恵み深く、なやみの日の要害である。<br>彼はご自分を避け所とする者を知っておられる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:8</em>しかし、彼はみなぎる洪水であだを全く滅ぼし、<br>おのが敵を暗やみに追いやられる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:9</em>あなたがたは主に対して何を計るか。<br>彼はその敵に二度としかえしをする必要がないように<br>敵を全く滅ぼされる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:10</em>彼らは結びからまったいばらのように、<br>かわいた刈り株のように、焼き尽される。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:11</em>主に対して悪事を計り、<br>よこしまな事を勧める者が<br>あなたのうちから出たではないか。<br>
</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:12</em>主はこう言われる、<br>「たとい彼らは強く、かつ多くあっても、<br>切り倒されて絶えはてる。<br>わたしはあなたを苦しめたが、<br>重ねてあなたを苦しめない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:13</em>今わたしは彼のくびきを砕いて、<br>あなたからとり除き、<br>あなたのなわめを切りはなす」。<br>
</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:14</em>主はあなたについてお命じになった、<br>「あなたの名は長く続かない。<br>わたしはあなたの神々の家から、<br>彫像および鋳造を除き去る。<br>あなたは罪深い者だから、<br>わたしはあなたの墓を設ける」。<br>
</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:15</em>見よ、良きおとずれを伝える者の足は山の上にある。<br>彼は平安を宣べている。<br>ユダよ、あなたの祭を行い、<br>あなたの誓願をはたせ。<br>よこしまな者は重ねて、<br>あなたに向かって攻めてこないからである。<br>彼は全く断たれる。<br>
</div>
</div>
</div>
<div id="2" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第2章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:1</em>撃ち破る者が<br>あなたに向かって上って来る。<br>城を守れ、道をうかがえ。<br>腰に帯せよ、大いに力を強くせよ。<br>
</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:2</em>主はヤコブの栄えを回復して、<br>イスラエルの栄えのようにされる。<br>かすめる者が彼らをかすめ、<br>そのぶどうづるを、そこなったからである。<br>
</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:3</em>その勇士の盾は赤くいろどられ、<br>その兵士は紅に身をよろう。<br>戦車はその備えの日に、火のように輝き、<br>軍馬はおどる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:4</em>戦車はちまたに狂い走り、<br>大路に飛びかける。<br>彼らはたいまつのように輝き、<br>いなずまのように飛びかける。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:5</em>将士らは召集され、<br>彼らはその道でつまずき倒れ、<br>城壁に向かって急いで行って大盾を備える。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:6</em>川々の門は開け、<br>宮殿はあわてふためく。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:7</em>その王妃は裸にされて、捕われゆき、<br>その侍女たちは悲しみ、<br>胸を打って、はとのようにうめく。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:8</em>ニネベは池のようであったが、<br>その水は注ぎ出された。<br>「立ち止まれ、立ち止まれ」と呼んでも、<br>ふりかえるものもない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:9</em>銀を奪え、金を奪え。<br>その宝は限りなく、<br>もろもろの尊い物はおびただしい。<br>
</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:10</em>消えうせ、むなしくなり、荒れはてた。<br>心は消え、ひざは震え、<br>すべての腰には痛みがあり、<br>すべての顔は色を失った。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:11</em>ししのすみかはどこであるか。<br>若いししの穴はどこであるか。<br>そこに雄じしはその獲物を携え行き、<br>その子じしと共にいても、これを恐れさせる者はない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:12</em>雄じしはその子じしのために引き裂き、<br>雌じしのために獲物を絞め殺し、<br>獲物をもってその穴を満たし、<br>引き裂いた肉をもってそのすみかを満たした。<br>
</div>
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:13</em>万軍の主は言われる、見よ、わたしはあなたに臨む。わたしはあなたの戦車を焼いて煙にする。つるぎはあなたの若いししを滅ぼす。わたしはまた、あなたの獲物を地から断つ。あなたの使者の声は重ねて聞かれない。
</div>
</div>
<div id="3" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第3章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:1</em>わざわいなるかな、血を流す町。<br>その中には偽りと、ぶんどり物が満ち、<br>略奪はやまない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:2</em>むちの音がする。車輪のとどろく音が聞える。<br>かける馬があり、走る戦車がある。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:3</em>騎兵は突撃し、<br>つるぎがきらめき、やりがひらめく。<br>殺される者はおびただしく、<br>しかばねは山をなす。<br>死体は数限りなく、人々はその死体につまずく。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:4</em>これは皆あでやかな遊女の恐るべき魔力と、<br>多くの淫行のためであって、<br>その淫行をもって諸国民を売り、<br>その魔力をもって諸族を売り渡したものである。<br>
</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:5</em>万軍の主は言われる、<br>見よ、わたしはあなたに臨む、<br>わたしはあなたのすそを顔の上まであげ、<br>あなたの裸を諸民に見せ、<br>あなたの恥じる所を諸国に見せる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:6</em>わたしは汚らわしい物を、あなたの上に投げかけて、<br>あなたをはずかしめ、あなたを見ものとする。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:7</em>すべてあなたを見るものは、<br>あなたを避けて逃げ去って言う、<br>「ニネベは滅びた」と。<br>だれがこのために嘆こう。<br>わたしはどこから彼女を慰める者を、<br>尋ね出し得よう。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:8</em>あなたはテーベにまさっているか。<br>これはナイル川のかたわらに座し、<br>水をその周囲にめぐらし、<br>海をとりでとなし、<br>水をその垣としている。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:9</em>その力はエチオピヤ、またエジプトであって、<br>限りがない。<br>プトびと、リビヤびともその助け手であった。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:10</em>しかし、これもとりことなって捕えられて行き、<br>その子供もすべてのちまたのかどで打ち砕かれ、<br>その尊い人々はくじで分けられ、<br>その大いなる人々は皆、鎖につながれた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:11</em>あなたもまた酔わされて気を失い、<br>あなたは敵を避けて逃げ場を求める。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:12</em>あなたのとりでは皆<br>初なりの実をもつ、いちじくの木のようだ。<br>これをゆすぶればその実は落ちて、<br>食べようとする者の口にはいる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:13</em>見よ、あなたのうちにいる兵士は女のようだ。<br>あなたの国の門はあなたの敵の前に広く開かれ、<br>火はあなたの貫の木を焼いた。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:14</em>籠城のために水をくめ。<br>あなたのとりでを堅めよ。<br>粘土の中にはいって、しっくいを踏み、<br>れんがの型をとれ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:15</em>その所で火はあなたを焼き、<br>つるぎはあなたを切る。<br>それはいなごのようにあなたを食い滅ぼす。<br>
</div>
<div style="display:block;margin-left:32px;text-indent:0px;">あなたはいなごのように数を増せ。<br>ばったのようにふえよ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:16</em>あなたは自分の商人を天の星よりも多くした。<br>いなごは羽をはって飛び去る。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:17</em>あなたの君たちは、ばったのように、<br>あなたの学者たちは、いなごのように、<br>寒い日には垣にとまり、<br>日が出て来ると飛び去る。<br>そのありかはだれも知らない。<br>
</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:18</em>アッスリヤの王よ、<br>あなたの牧者は眠り、あなたの貴族はまどろむ。<br>あなたの民は山の上に散らされ、<br>これを集める者はない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:19</em>あなたの破れは、いえることがなく、<br>あなたの傷は重い。<br>あなたのうわさを聞く者は皆、<br>あなたの事について手を打つ。<br>あなたの悪を常に身に受けなかったような者が、<br>だれひとりあるか。<br>
</div>
</div>
</div>


</div></div></div>