<h2 style="font-size:24px;font-weight:700;display:block;margin-block-end:19.92px;margin-block-start:19.92px;margin-inline-end:0px;margin-inline-start:0px;">ルツ記</h2>
<div id="1" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第1章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:1</em>さばきづかさが世を治めているころ、国に飢きんがあったので、ひとりの人がその妻とふたりの男の子を連れてユダのベツレヘムを去り、モアブの地へ行ってそこに滞在した。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:2</em>その人の名はエリメレク、妻の名はナオミ、ふたりの男の子の名はマロンとキリオンといい、ユダのベツレヘムのエフラタびとであった。彼らはモアブの地へ行って、そこにおったが、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:3</em>ナオミの夫エリメレクは死んで、ナオミとふたりの男の子が残された。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:4</em>ふたりの男の子はそれぞれモアブの女を妻に迎えた。そのひとりの名はオルパといい、ひとりの名はルツといった。彼らはそこに十年ほど住んでいたが、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:5</em>マロンとキリオンのふたりもまた死んだ。こうしてナオミはふたりの子と夫とに先だたれた。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:6</em>その時、ナオミはモアブの地で、主がその民を顧みて、すでに食物をお与えになっていることを聞いたので、その嫁と共に立って、モアブの地からふるさとへ帰ろうとした。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:7</em>そこで彼女は今いる所を出立し、ユダの地へ帰ろうと、ふたりの嫁を連れて道に進んだ。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:8</em>しかしナオミはふたりの嫁に言った、「あなたがたは、それぞれ自分の母の家に帰って行きなさい。あなたがたが、死んだふたりの子とわたしに親切をつくしたように、どうぞ、主があなたがたに、いつくしみを賜わりますよう。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:9</em>どうぞ、主があなたがたに夫を与え、夫の家で、それぞれ身の落ち着き所を得させられるように」。こう言って、ふたりの嫁に口づけしたので、彼らは声をあげて泣き、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:10</em>ナオミに言った、「いいえ、わたしたちは一緒にあなたの民のところへ帰ります」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:11</em>しかしナオミは言った、「娘たちよ、帰って行きなさい。どうして、わたしと一緒に行こうというのですか。あなたがたの夫となる子がまだわたしの胎内にいると思うのですか。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:12</em>娘たちよ、帰って行きなさい。わたしは年をとっているので、夫をもつことはできません。たとい、わたしが今夜、夫をもち、また子を産む望みがあるとしても、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:13</em>そのためにあなたがたは、子どもの成長するまで待っているつもりなのですか。あなたがたは、そのために夫をもたずにいるつもりなのですか。娘たちよ、それはいけません。主の手がわたしに臨み、わたしを責められたことで、あなたがたのために、わたしは非常に心を痛めているのです」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:14</em>彼らはまた声をあげて泣いた。そしてオルパはそのしゅうとめに口づけしたが、ルツはしゅうとめを離れなかった。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:15</em>そこでナオミは言った、「ごらんなさい。あなたの相嫁は自分の民と自分の神々のもとへ帰って行きました。あなたも相嫁のあとについて帰りなさい」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:16</em>しかしルツは言った、「あなたを捨て、あなたを離れて帰ることをわたしに勧めないでください。わたしはあなたの行かれる所へ行き、またあなたの宿られる所に宿ります。あなたの民はわたしの民、あなたの神はわたしの神です。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:17</em>あなたの死なれる所でわたしも死んで、そのかたわらに葬られます。もし死に別れでなく、わたしがあなたと別れるならば、主よ、どうぞわたしをいくえにも罰してください」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:18</em>ナオミはルツが自分と一緒に行こうと、固く決心しているのを見たので、そのうえ言うことをやめた。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:19</em>そしてふたりは旅をつづけて、ついにベツレヘムに着いた。彼らがベツレヘムに着いたとき、町はこぞって彼らのために騒ぎたち、女たちは言った、「これはナオミですか」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:20</em>ナオミは彼らに言った、「わたしをナオミ（楽しみ）と呼ばずに、マラ（苦しみ）と呼んでください。なぜなら全能者がわたしをひどく苦しめられたからです。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:21</em>わたしは出て行くときは豊かでありましたが、主はわたしをから手で帰されました。主がわたしを悩まし、全能者がわたしに災をくだされたのに、どうしてわたしをナオミと呼ぶのですか」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:22</em>こうしてナオミは、モアブの地から帰った嫁、モアブの女ルツと一緒に帰ってきて、大麦刈の初めにベツレヘムに着いた。
</div>
</div>
<div id="2" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第2章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:1</em>さてナオミには、夫エリメレクの一族で、非常に裕福なひとりの親戚があって、その名をボアズといった。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:2</em>モアブの女ルツはナオミに言った、「どうぞ、わたしを畑に行かせてください。だれか親切な人が見当るならば、わたしはその方のあとについて落ち穂を拾います」。ナオミが彼女に「娘よ、行きなさい」と言ったので、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:3</em>ルツは行って、刈る人たちのあとに従い、畑で落ち穂を拾ったが、彼女ははからずもエリメレクの一族であるボアズの畑の部分にきた。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:4</em>その時ボアズは、ベツレヘムからきて、刈る者どもに言った、「主があなたがたと共におられますように」。彼らは答えた、「主があなたを祝福されますように」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:5</em>ボアズは刈る人たちを監督しているしもべに言った、「これはだれの娘ですか」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:6</em>刈る人たちを監督しているしもべは答えた、「あれはモアブの女で、モアブの地からナオミと一緒に帰ってきたのですが、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:7</em>彼女は『どうぞ、わたしに、刈る人たちのあとについて、束のあいだで、落ち穂を拾い集めさせてください』と言いました。そして彼女は朝早くきて、今まで働いて、少しのあいだも休みませんでした」。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:8</em>ボアズはルツに言った、「娘よ、お聞きなさい。ほかの畑に穂を拾いに行ってはいけません。またここを去ってはなりません。わたしのところで働く女たちを離れないで、ここにいなさい。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:9</em>人々が刈りとっている畑に目をとめて、そのあとについて行きなさい。わたしは若者たちに命じて、あなたのじゃまをしないようにと、言っておいたではありませんか。あなたがかわく時には水がめのところへ行って、若者たちのくんだのを飲みなさい」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:10</em>彼女は地に伏して拝し、彼に言った、「どうしてあなたは、わたしのような外国人を顧みて、親切にしてくださるのですか」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:11</em>ボアズは答えて彼女に言った、「あなたの夫が死んでこのかた、あなたがしゅうとめにつくしたこと、また自分の父母と生れた国を離れて、かつて知らなかった民のところにきたことは皆わたしに聞えました。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:12</em>どうぞ、主があなたのしたことに報いられるように。どうぞ、イスラエルの神、主、すなわちあなたがその翼の下に身を寄せようとしてきた主からじゅうぶんの報いを得られるように」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:13</em>彼女は言った、「わが主よ、まことにありがとうございます。わたしはあなたのはしためのひとりにも及ばないのに、あなたはこんなにわたしを慰め、はしためにねんごろに語られました」。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:14</em>食事の時、ボアズは彼女に言った、「ここへきて、パンを食べ、あなたの食べる物を酢に浸しなさい」。彼女が刈る人々のかたわらにすわったので、ボアズは焼麦を彼女に与えた。彼女は飽きるほど食べて残した。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:15</em>そして彼女がまた穂を拾おうと立ちあがったとき、ボアズは若者たちに命じて言った、「彼女には束の間でも穂を拾わせなさい。とがめてはならない。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:16</em>また彼女のために束からわざと抜き落しておいて拾わせなさい。しかってはならない」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:17</em>こうして彼女は夕暮まで畑で落ち穂を拾った。そして拾った穂を打つと、大麦は一エパほどあった。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:18</em>彼女はそれを携えて町にはいり、しゅうとめにその拾ったものを見せ、かつ食べ飽きて、残して持ちかえったものを取り出して与えた。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:19</em>しゅうとめは彼女に言った、「あなたは、きょう、どこで穂を拾いましたか。どこで働きましたか。あなたをそのように顧みてくださったかたに、どうか祝福があるように」。そこで彼女は自分がだれの所で働いたかを、しゅうとめに告げて、「わたしが、きょう働いたのはボアズという名の人の所です」と言った。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:20</em>ナオミは嫁に言った、「生きている者をも、死んだ者をも、顧みて、いつくしみを賜わる主が、どうぞその人を祝福されますように」。ナオミはまた彼女に言った、「その人はわたしたちの縁者で、最も近い親戚のひとりです」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:21</em>モアブの女ルツは言った、「その人はまたわたしに『あなたはわたしのところの刈入れが全部終るまで、わたしのしもべたちのそばについていなさい』と言いました」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:22</em>ナオミは嫁ルツに言った、「娘よ、その人のところで働く女たちと一緒に出かけるのはけっこうです。そうすればほかの畑で人にいじめられるのを免れるでしょう」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:23</em>それで彼女はボアズのところで働く女たちのそばについていて穂を拾い、大麦刈と小麦刈の終るまでそうした。こうして彼女はしゅうとめと一緒に暮した。
</div>
</div>
<div id="3" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第3章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:1</em>時にしゅうとめナオミは彼女に言った、「娘よ、わたしはあなたの落ち着き所を求めて、あなたをしあわせにすべきではないでしょうか。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:2</em>あなたが一緒に働いた女たちの主人ボアズはわたしたちの親戚ではありませんか。彼は今夜、打ち場で大麦をあおぎ分けます。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:3</em>それであなたは身を洗って油をぬり、晴れ着をまとって打ち場に下って行きなさい。ただ、あなたはその人が飲み食いを終るまで、その人に知られてはなりません。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:4</em>そしてその人が寝る時、その寝る場所を見定め、はいって行って、その足の所をまくって、そこに寝なさい。彼はあなたのすべきことを知らせるでしょう」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:5</em>ルツはしゅうとめに言った、「あなたのおっしゃることを皆いたしましょう」。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:6</em>こうして彼女は打ち場に下り、すべてしゅうとめが命じたとおりにした。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:7</em>ボアズは飲み食いして、心をたのしませたあとで、麦を積んである場所のかたわらへ行って寝た。そこで彼女はひそかに行き、ボアズの足の所をまくって、そこに寝た。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:8</em>夜中になって、その人は驚き、起きかえって見ると、ひとりの女が足のところに寝ていたので、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:9</em>「あなたはだれですか」と言うと、彼女は答えた、「わたしはあなたのはしためルツです。あなたのすそで、はしためをおおってください。あなたは最も近い親戚です」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:10</em>ボアズは言った、「娘よ、どうぞ、主があなたを祝福されるように。あなたは貧富にかかわらず若い人に従い行くことはせず、あなたが最後に示したこの親切は、さきに示した親切にまさっています。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:11</em>それで、娘よ、あなたは恐れるにおよびません。あなたが求めることは皆、あなたのためにいたしましょう。わたしの町の人々は皆、あなたがりっぱな女であることを知っているからです。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:12</em>たしかにわたしは近い親戚ではありますが、わたしよりも、もっと近い親戚があります。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:13</em>今夜はここにとどまりなさい。朝になって、もしその人が、あなたのために親戚の義務をつくすならば、よろしい、その人にさせなさい。しかし主は生きておられます。その人が、あなたのために親戚の義務をつくすことを好まないならば、わたしはあなたのために親戚の義務をつくしましょう。朝までここにおやすみなさい」。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:14</em>ルツは朝まで彼の足のところに寝たが、だれかれの見分け難いころに起きあがった。それはボアズが「この女の打ち場にきたことが人に知られてはならない」と言ったからである。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:15</em>そしてボアズは言った、「あなたの着る外套を持ってきて、それを広げなさい」。彼女がそれを広げると、ボアズは大麦六オメルをはかって彼女に負わせた。彼女は町に帰り、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:16</em>しゅうとめのところへ行くと、しゅうとめは言った、「娘よ、どうでしたか」。そこでルツはその人が彼女にしたことをことごとく告げて、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:17</em>言った、「あのかたはわたしに向かって、から手で、しゅうとめのところへ帰ってはならないと言って、この大麦六オメルをわたしにくださいました」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:18</em>しゅうとめは言った、「娘よ、この事がどうなるかわかるまでお待ちなさい。あの人は、きょう、その事を決定しなければ落ち着かないでしょう」。
</div>
</div>
<div id="4" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第4章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:1</em>ボアズは町の門のところへ上っていって、そこにすわった。すると、さきにボアズが言った親戚の人が通り過ぎようとしたので、ボアズはその人に言った、「友よ、こちらへきて、ここにおすわりください」。彼はきてすわった。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:2</em>ボアズはまた町の長老十人を招いて言った、「ここにおすわりください」。彼らがすわった時、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:3</em>ボアズは親戚の人に言った、「モアブの地から帰ってきたナオミは、われわれの親族エリメレクの地所を売ろうとしています。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:4</em>それでわたしはそのことをあなたに知らせて、ここにすわっている人々と、民の長老たちの前で、それを買いなさいと、あなたに言おうと思いました。もし、あなたが、それをあがなおうと思われるならば、あがなってください。しかし、あなたがそれをあがなわないならば、わたしにそう言って知らせてください。それをあがなう人は、あなたのほかにはなく、わたしはあなたの次ですから」。彼は言った、「わたしがあがないましょう」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:5</em>そこでボアズは言った、「あなたがナオミの手からその地所を買う時には、死んだ者の妻であったモアブの女ルツをも買って、死んだ者の名を起してその嗣業を伝えなければなりません」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:6</em>その親戚の人は言った、「それでは、わたしにはあがなうことができません。そんなことをすれば自分の嗣業をそこないます。あなたがわたしに代って、自分であがなってください。わたしはあがなうことができませんから」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:7</em>むかしイスラエルでは、物をあがなう事と、権利の譲渡について、万事を決定する時のならわしはこうであった。すなわち、その人は、自分のくつを脱いで、相手の人に渡した。これがイスラエルでの証明の方法であった。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:8</em>そこで親戚の人がボアズにむかい「あなたが自分であがないなさい」と言って、そのくつを脱いだので、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:9</em>ボアズは長老たちとすべての民に言った、「あなたがたは、きょう、わたしがエリメレクのすべての物およびキリオンとマロンのすべての物をナオミの手から買いとった事の証人です。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:10</em>またわたしはマロンの妻であったモアブの女ルツをも買って、わたしの妻としました。これはあの死んだ者の名を起してその嗣業を伝え、死んだ者の名がその一族から、またその郷里の門から断絶しないようにするためです。きょうあなたがたは、その証人です」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:11</em>すると門にいたすべての民と長老たちは言った、「わたしたちは証人です。どうぞ、主があなたの家にはいる女を、イスラエルの家をたてたラケルとレアのふたりのようにされますよう。どうぞ、あなたがエフラタで富を得、ベツレヘムで名を揚げられますように。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:12</em>どうぞ、主がこの若い女によってあなたに賜わる子供により、あなたの家が、かのタマルがユダに産んだペレヅの家のようになりますように」。
</div>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:13</em>こうしてボアズはルツをめとって妻とし、彼女のところにはいった。主は彼女をみごもらせられたので、彼女はひとりの男の子を産んだ。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:14</em>そのとき、女たちはナオミに言った、「主はほむべきかな、主はあなたを見捨てずに、きょう、あなたにひとりの近親をお授けになりました。どうぞ、その子の名がイスラエルのうちに高く揚げられますように。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:15</em>彼はあなたのいのちを新たにし、あなたの老年を養う者となるでしょう。あなたを愛するあなたの嫁、七人のむすこにもまさる彼女が彼を産んだのですから」。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:16</em>そこでナオミはその子をとり、ふところに置いて、養い育てた。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:17</em>近所の女たちは「ナオミに男の子が生れた」と言って、彼に名をつけ、その名をオベデと呼んだ。彼はダビデの父であるエッサイの父となった。
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:18</em>さてペレヅの子孫は次のとおりである。ペレヅからヘヅロンが生れ、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:19</em>ヘヅロンからラムが生れ、ラムからアミナダブが生れ、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:20</em>アミナダブからナションが生れ、ナションからサルモンが生れ、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:21</em>サルモンからボアズが生れ、ボアズからオベデが生れ、
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">4:22</em>オベデからエッサイが生れ、エッサイからダビデが生れた。
</div>
</div>


</div></div></div>