<h2 style="font-size:24px;font-weight:700;display:block;margin-block-end:19.92px;margin-block-start:19.92px;margin-inline-end:0px;margin-inline-start:0px;">ゼパニヤ書</h2>
<div id="1" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第1章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:1</em>ユダの王アモンの子ヨシヤの世に、ゼパニヤに臨んだ主の言葉。ゼパニヤはクシの子、クシはゲダリヤの子、ゲダリヤはアマリヤの子、アマリヤはヒゼキヤの子である。
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:2</em>主は言われる、<br>「わたしは地のおもてからすべてのものを一掃する」。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:3</em>主は言われる、<br>「わたしは人も獣も一掃し、<br>空の鳥、海の魚をも一掃する。<br>わたしは悪人を倒す。<br>わたしは地のおもてから人を絶ち滅ぼす」。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:4</em>「わたしはユダとエルサレムの<br>すべての住民との上に手を伸べる。<br>わたしはこの所からバアルの残党と、<br>偶像の祭司の名とを断つ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:5</em>また屋上で天の万象を拝む者、<br>主に誓いを立てて拝みながら、<br>またミルコムをさして誓う者、<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:6</em>主にそむいて従わない者、<br>主を求めず、主を尋ねない者を断つ」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:7</em>主なる神の前に沈黙せよ。<br>主の日は近づき、<br>主はすでに犠牲を備え、<br>その招いた者を聖別されたからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:8</em>主の犠牲をささげる日に、<br>「わたしはつかさたちと王の子たち、<br>およびすべて異邦の衣服を着る者を罰する。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:9</em>その日にわたしはまた、すべて敷居をとび越え、<br>暴虐と欺きとを自分の主君の家に満たす者を罰する」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:10</em>主は言われる、<br>「その日には魚の門から叫び声がおこり、<br>第二の町からうめき声がおこり、<br>もろもろの丘からすさまじい響きがおこる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:11</em>しっくいの家の住民よ、泣き叫べ。<br>あきないする民は皆滅ぼされ、<br>銀を量る者は皆断たれるからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:12</em>その時、わたしはともしびをもって、<br>エルサレムを尋ねる。<br>そして滓の上に凝り固まり、<br>その心の中で<br>『主は良いことも、悪いこともしない』と<br>言う人々をわたしは罰する。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:13</em>彼らの財宝はかすめられ、<br>彼らの家は荒れはてる。<br>彼らは家を建てても、それに住むことができない、<br>ぶどう畑を作っても、そのぶどう酒を飲むことができない」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:14</em>主の大いなる日は近い、<br>近づいて、すみやかに来る。<br>主の日の声は耳にいたい。<br>そこに、勇士もいたく叫ぶ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:15</em>その日は怒りの日、<br>なやみと苦しみの日、<br>荒れ、また滅びる日、<br>暗く、薄暗い日、<br>雲と黒雲の日、<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:16</em>ラッパとときの声の日、<br>堅固な町と高いやぐらを攻める日である。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:17</em>わたしは人々になやみを下して、<br>盲人のように歩かせる。<br>彼らが主に対して罪を犯したからである。<br>彼らの血はちりのように流され、<br>彼らの肉は糞土のように捨てられる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">1:18</em>彼らの銀も金も、<br>主の怒りの日には彼らを救うことができない。<br>全地は主のねたみの火にのまれる。<br>主は地に住む人々をたちまち滅ぼし尽される。</div>
</div>
</div>
<div id="2" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第2章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:1</em>あなたがた、恥を知らぬ民よ、<br>共につどい、集まれ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:2</em>すなわち、もみがらのように追いやられる前に、<br>主の激しい怒りがまだあなたがたに臨まない前に、<br>主の憤りの日がまだあなたがたに来ない前に。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:3</em>すべて主の命令を行うこの地のへりくだる者よ、<br>主を求めよ。<br>正義を求めよ。<br>謙遜を求めよ。<br>そうすればあなたがたは主の怒りの日に、<br>あるいは隠されることがあろう。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:4</em>ともあれ、ガザは捨てられ、<br>アシケロンは荒れはて、<br>アシドドは真昼に追い払われ、<br>エクロンは抜き去られる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:5</em>わざわいなるかな、<br>海べに住む者、ケレテの国民。<br>ペリシテびとの地、カナンよ、<br>主の言葉があなたがたに臨む。<br>わたしはあなたを滅ぼして、<br>住む者がないようにする。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:6</em>海べよ、あなたは牧場となり、<br>羊飼の牧草地となり、<br>また羊のおりとなる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:7</em>海べはユダの家の残りの者に帰する。<br>彼らはその所で群れを養い、<br>夕暮にはアシケロンの家に伏す。<br>彼らの神、主が彼らを顧み、<br>その幸福を回復されるからである。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:8</em>「わたしはモアブのあざけりと、<br>アンモンの人々の、ののしりを聞いた。<br>彼らはわが民をあざけり、<br>自ら誇って彼らの国境を侵した。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:9</em>それゆえ、万軍の主、イスラエルの神は言われる、<br>わたしは生きている。<br>モアブは必ずソドムのようになる。<br>アンモンの人々はゴモラのようになる。<br>いらくさと塩穴とがここを占領して、<br>永遠に荒れ地となる。<br>わが民の残りの者は彼らをかすめ、<br>わが国民の残りの者はこれを所有する」。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:10</em>この事の彼らに臨むのはその高ぶりによるのだ。<br>彼らが万軍の主の民をあざけり、<br>みずから誇ったからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:11</em>主は彼らに対して恐るべき者となられる。<br>主は地のすべての神々を飢えさせられる。<br>もろもろの国の民は、<br>おのおの自分の所から出て主を拝む。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:12</em>エチオピヤびとよ、あなたがたもまた<br>わがつるぎによって殺される。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:13</em>主はまた北に向かって手を伸べ、<br>アッスリヤを滅ぼし、<br>ニネベを荒して、<br>荒野のような、かわいた地とされる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:14</em>家畜の群れ、もろもろの野の獣はその中に伏し、<br>はげたかや、やまあらしはその柱の頂に住み、<br>ふくろうは、その窓のうちになき、<br>からすは、その敷居の上に鳴く。<br>その香柏の細工が裸にされるからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">2:15</em>この町は勝ち誇って、安らかに落ち着き、<br>その心の中で、<br>「ただわたしだけだ、わたしの外にはだれもない」と<br>言った町であるが、<br>このように荒れはてて、<br>獣の伏す所になってしまった。<br>ここを通り過ぎる者は<br>皆あざけって、手を振る。</div>
</div>
</div>
<div id="3" style="display:block;margin-left:0px;margin-top:16px;">
<h3 style="font-size:18.72px;font-weight:700;display:inline;margin-block-end:18.72px;margin-block-start:18.72px;margin-inline-end:9.36px;margin-inline-start:0px;margin-right:9.36px;">第3章</h3>
<div style="display:block;margin-left:0px;text-indent:16px;">
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:1</em>わざわいなるかな、<br>このそむき汚れた暴虐の町。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:2</em>これはだれの声にも耳を傾けず、<br>懲しめを受けいれず、<br>主に寄り頼まず、<br>おのれの神に近よらない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:3</em>その中にいるつかさたちは、ほえるしし、<br>そのさばきびとたちは、夜のおおかみで、<br>彼らは朝まで何一つ残さない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:4</em>その預言者たちは、放縦で偽りびと、<br>その祭司たちは聖なる物を汚し、律法を破る。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:5</em>その中にいます主は義であって、不義を行われない。<br>朝ごとにその公義を現して、誤ることがない。<br>しかし不義な者は恥を知らない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:6</em>「わたしは諸国民を滅ぼした。<br>そのやぐらは荒れはてた。<br>わたしはそのちまたを荒したので、<br>ちまたを行き来する者もない。<br>その町々は荒れすたれて、<br>人の姿もなく、住む者もない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:7</em>わたしは言った、<br>『これは必ずわたしを恐れ、懲しめを受ける。<br>これはわたしが命じたすべての事を見失わない』と。<br>しかし彼らはしきりに自分の行状を乱した」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:8</em>主は言われる、<br>「それゆえ、あなたがたは、わたしが立って、<br>証言する日を待て。<br>わたしの決意は諸国民をよせ集め、<br>もろもろの国を集めて、<br>わが憤り、わが激しい怒りを<br>ことごとくその上に注ぐことであって、<br>全地は、ねたむわたしの怒りの火に<br>焼き滅ぼされるからである。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:9</em>その時わたしはもろもろの民に清きくちびるを与え、<br>すべて彼らに主の名を呼ばせ、<br>心を一つにして主に仕えさせる。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:10</em>わたしを拝む者、<br>わたしが散らした者の娘は<br>エチオピヤの川々の向こうから来て、<br>わたしに供え物をささげる。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:11</em>その日には、<br>あなたはわたしにそむいたすべてのわざのゆえに、<br>はずかしめられることはない。<br>その時わたしはあなたのうちから、<br>高ぶって誇る者どもを除くゆえ、<br>あなたは重ねてわが聖なる山で、高ぶることはない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:12</em>わたしは柔和にしてへりくだる民を、<br>あなたのうちに残す。<br>彼らは主の名を避け所とする。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:13</em>イスラエルの残りの者は不義を行わず、偽りを言わず、<br>その口には欺きの舌を見ない。<br>それゆえ、彼らは食を得て伏し、<br>彼らをおびやかす者はいない」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:14</em>シオンの娘よ、喜び歌え。<br>イスラエルよ、喜び呼ばわれ。<br>エルサレムの娘よ、心のかぎり喜び楽しめ。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:15</em>主はあなたを訴える者を取り去り、<br>あなたの敵を追い払われた。<br>イスラエルの王なる主はあなたのうちにいます。<br>あなたはもはや災を恐れることはない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:16</em>その日、人々はエルサレムに向かって言う、<br>「シオンよ、恐れるな。<br>あなたの手を弱々しくたれるな。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:17</em>あなたの神、主はあなたのうちにいまし、<br>勇士であって、勝利を与えられる。<br>彼はあなたのために喜び楽しみ、<br>その愛によってあなたを新にし、<br>祭の日のようにあなたのために喜び呼ばわられる」。</div>
<div style="display:block;margin-left:32px;text-indent:0px;">
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:18</em>「わたしはあなたから悩みを取り去る。<br>あなたは恥を受けることはない。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:19</em>見よ、その時あなたをしえたげる者を<br>わたしはことごとく処分し、<br>足なえを救い、追いやられた者を集め、<br>彼らの恥を誉にかえ、<br>全地にほめられるようにする。<br>
<em style="color:rgb(255, 51, 0);font-style:normal;margin-right:1.6px;padding-right:3.2px;">3:20</em>その時、わたしはあなたがたを連れかえる。<br>わたしがあなたがたを集めるとき、<br>わたしがあなたがたの目の前に、<br>あなたがたの幸福を回復するとき、<br>地のすべての民の中で、<br>あなたがたに名を得させ、誉を得させる」と<br>主は言われる。</div>
</div>
</div>


</div></div></div>