@charset "UTF-8";
/*@import url("reset.css");*/

* {
	font-size: 11pt;
	color: #000000;
	background-color: #ffffff;
	font-family: "ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","Yu Mincho", "HGS明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
}

#container {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

#header,
#header-sub {
    display: none;
}

#sub,
#footer,
ul.menu,
ol.book-path  {
    display: none;
}

/*
#contents {
	width: 100%;
}
*/
#main {
	clear: both;
	width: 100%;
}


#main .inner {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;

}

h6 {
	display: inline;
	font-size: 14pt;
}

tr {
	page-break-inside: avoid
}

td.line {
	font-style: normal;
	color: #000000;
	/*page-break-inside: avoid;*/
}

td.line2 {
	font-style: normal;
	color: #000000;
	/*page-break-inside: avoid;*/
}


#tbl.td {
	/*line-height: 1.1em;*/
	line-height: 18pt;
	font-size:14pt;
	font-style: normal;
	color: black;
	/*page-break-inside: avoid;*/
}

td.verse {
	/*vertical-align:text-bottom;*/
	page-break-inside: avoid;
	line-height: 18pt;
	vertical-align: text-bottom;
	text-align: right;
	font-style: normal;
	font-size: 9pt;
	padding-top: 5px;
	padding-right: 5px;
/*
	padding-top: 1.5em;
	padding-right: 1em;
	*/
	color: black;
}

td.line ruby {
	font-style: normal;
}

td.line rt {
	font-size:6pt;
	font-style: normal;
}

td.line2 ruby {
	font-style: normal;
}

td.line2 rt {
	font-size:6pt;
	font-style: normal;
}

/*
#tbl {
    padding-top:0.5em;
    padding-bottom:1em;
	text-indent: 0.2em;
font-style: normal;
}
*/


