body {
    text-align: left; /* 左寄せに設定 */
    font-family: 'Arial', sans-serif;
    margin: 0;
    letter-spacing: normal; /* 文字間隔をデフォルトに設定 */
    background-color: black;
}
h2, h3, p {
    margin-left: 0;
    letter-spacing: normal; /* 見出しや段落の文字間隔をデフォルトに設定 */
}
ruby {
    font-size: 24px;
    letter-spacing: normal; /* ルビの文字間隔もデフォルトに設定 */
}
rt,rb {
    font-size: 16px;
    color: #555;
    letter-spacing: normal; /* ルビテキストの文字間隔をデフォルトに設定 */
}
.sep {
    color: white;
    padding: 0 5px; 
}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 2em;
    width: 60%;
    color: #FFD700;
}

.section {
    flex: 1;                /* Allow sections to grow equally */
    padding: 10px;          /* Add some padding */
}

.section + .section {
    margin-left: 20px;      /* Add some space between the two sections */
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 10px 20px;
    z-index: 1000;
}
.content {
    margin-top: 60px; /* Offset the content to account for the fixed header */
    margin-left: 1em;
}
.toggle-button {
    background-color: #FFD700;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.toggle-button:hover {
    background-color: #FFD700;
}
.c1 {
    color: #FFD700;    
}
.c2 {
    color: white;    
}
a:link,
a:visited,
a:hover,
a:active {
    color: inherit; /* 親要素の色を引き継ぐ */
    text-decoration: none; /* 下線を削除 */
}
