<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genesis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="content">
      <h2>
          {% for word, furigana in title %}
              <ruby>{{ word }}<rt>{{ furigana }}</rt></ruby>
          {% endfor %}
      </h2>
      
      {% for chapter in chapters %}
          <h3>第{{ chapter.id }}章</h3>
          {% for verse in chapter.verses %}
              {% if verse.hideId %}
              {% else %}
                  <p><strong>{{ verse.id }} </strong>
              {% endif %}
                  {% for word, furigana in verse.words %}
                      {% if is_rubi %}
                          <ruby>{{ word }}<rt>{{ furigana }}</rt></ruby>
                      {% else %}
                          {{ word }}
                      {% endif %}
                  {% endfor %}
              </p>
          {% endfor %}
      {% endfor %}
    </div>
</body>
</html>
