<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聖書のリスト</title>
</head>
<style>
    .none,
    .none:hover {
        color: lightgray;
    }
    a:link,
    a:visited,
    a:active {
        color: inherit; /* 親要素の色を引き継ぐ */
        text-decoration: none; /* 下線を削除 */
    }
    a:hover {
        color: red;
    }
</style>
<body>
    <h1>旧約聖書</h1>
    <ul>
        <li><a href="bible/genesis">創世記</a></li>
        <li><a href="bible/exodus">出エジプト記</a></li>
        <li><a href="bible/leviticus">レビ記</a></li>
        <li><a href="bible/numbers">民数記</a></li>
        <li><a href="bible/deuteronomy">申命記</a></li>
        <li><a href="bible/joshua">ヨシュア記</a></li>
        <li><a href="bible/judges">士師記</a></li>
        <li><a href="bible/ruth">ルツ記</a></li>
        <li><a href="bible/1samuel">サムエル記 第一</a></li>
        <li><a href="bible/2samuel">サムエル記 第二</a></li>
        <li><a href="bible/1kings">列王記 第一</a></li>
        <li><a href="bible/2kings">列王記 第二</a></li>
        <li><a href="bible/1chronicles">歴代誌 第一</a></li>
        <li><a href="bible/2chronicles">歴代誌 第二</a></li>
        <li><a href="bible/ezra">エズラ記</a></li>
        <li><a href="bible/nehemiah">ネヘミヤ記</a></li>
        <li><a href="bible/esther">エステル記</a></li>
        <li><a href="bible/job">ヨブ記</a></li>
        <li><a href="bible/psalms">詩篇</a></li>
        <li><a href="bible/proverbs">箴言</a></li>
        <li><a href="bible/ecclesiastes">伝道の書</a></li>
        <li><a href="bible/songofsolomon">雅歌</a></li>
        <li><a href="bible/isaiah">イザヤ書</a></li>
        <li><a href="bible/jeremiah">エレミヤ書</a></li>
        <li class='none'><a href="bible/lamentations">哀歌</a></li>
        <li class='none'><a href="bible/ezekiel">エゼキエル書</a></li>
        <li class='none'><a href="bible/daniel">ダニエル書</a></li>
        <li class='none'><a href="bible/hosea">ホセア書</a></li>
        <li class='none'><a href="bible/joel">ヨエル書</a></li>
        <li class='none'><a href="bible/amos">アモス書</a></li>
        <li class='none'><a href="bible/obadiah">オバデヤ書</a></li>
        <li class='none'><a href="bible/jonah">ヨナ書</a></li>
        <li class='none'><a href="bible/micah">ミカ書</a></li>
        <li class='none'><a href="bible/nahum">ナホム書</a></li>
        <li class='none'><a href="bible/habakkuk">ハバクク書</a></li>
        <li class='none'><a href="bible/zephaniah">ゼパニヤ書</a></li>
        <li class='none'><a href="bible/haggai">ハガイ書</a></li>
        <li class='none'><a href="bible/zechariah">ゼカリヤ書</a></li>
        <li class='none'><a href="bible/malachi">マラキ書</a></li>
    </ul>

    <h1>新約聖書</h1>
    <ul>
        <li><a href="bible/matthew">マタイによる福音書</a></li>
        <li><a href="bible/mark">マルコによる福音書</a></li>
        <li><a href="bible/luke">ルカによる福音書</a></li>
        <li><a href="bible/john">ヨハネによる福音書</a></li>
        <li><a href="bible/acts">使徒行伝</a></li>
        <li><a href="bible/romans">ローマ人への手紙</a></li>
        <li><a href="bible/1corinthians">コリント人への第一の手紙</a></li>
        <li><a href="bible/2corinthians">コリント人への第二の手紙</a></li>
        <li><a href="bible/galatians">ガラテヤ人への手紙</a></li>
        <li><a href="bible/ephesians">エペソ人への手紙</a></li>
        <li><a href="bible/philippians">ピリピ人への手紙</a></li>
        <li><a href="bible/colossians">コロサイ人への手紙</a></li>
        <li><a href="bible/1thessalonians">テサロニケ人への第一の手紙</a></li>
        <li><a href="bible/2thessalonians">テサロニケ人への第二の手紙</a></li>
        <li><a href="bible/1timothy">テモテへの第一の手紙</a></li>
        <li><a href="bible/2timothy">テモテへの第二の手紙</a></li>
        <li><a href="bible/titus">テトスへの手紙</a></li>
        <li><a href="bible/philemon">ピレモンへの手紙</a></li>
        <li><a href="bible/hebrews">ヘブル人への手紙</a></li>
        <li class='none'><a href="bible/james">ヤコブの手紙</a></li>
        <li class='none'><a href="bible/1peter">ペテロの第一の手紙</a></li>
        <li class='none'><a href="bible/2peter">ペテロの第二の手紙</a></li>
        <li class='none'><a href="bible/1john">ヨハネの第一の手紙</a></li>
        <li class='none'><a href="bible/2john">ヨハネの第二の手紙</a></li>
        <li class='none'><a href="bible/3john">ヨハネの第三の手紙</a></li>
        <li class='none'><a href="bible/jude">ユダの手紙</a></li>
        <li class='none'><a href="bible/revelation">ヨハネの黙示録</a></li>
    </ul>
</body>
</html>
