@media screen and (max-width: 768px) {
}

.sharecontainer {
}

.share {
    padding: 10px;
}

.tt {
    padding: 0em 0.5em;
}

body {
    text-align: left; /* 左寄せに設定 */
    font-family: 'Arial', sans-serif;
    margin: 0;
    letter-spacing: normal; /* 文字間隔をデフォルトに設定 */
    font-size: 1.3em;
}
h2, h3, p {
    margin-left: 0;
    letter-spacing: normal; /* 見出しや段落の文字間隔をデフォルトに設定 */
}
ruby {
    font-size: 1em !important;
    letter-spacing: normal; /* ルビの文字間隔もデフォルトに設定 */
}

rb {
    font-size: 1em !important;
    color: #FFD700 !important;
    letter-spacing: normal; /* ルビテキストの文字間隔をデフォルトに設定 */
}

rt {
    font-size: 10px !important;
    color: #FFD700 !important;
    letter-spacing: normal; /* ルビテキストの文字間隔をデフォルトに設定 */
}

.sep {
    color: white;
    padding: 0 5px; 
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 10px 20px;
    z-index: 1000;
    font-size: 1em;

    display: flex;
}
.content {
    margin-top: 60px; /* Offset the content to account for the fixed header */
    margin-left: 1em;
    color: white;
}

em {
    color: black !important;
    background-color: #FFD700;
    padding: 0 8px 0 0;
}


.toggle-button {
    background-color: #FFD700;
    color: black;
    border: none;
    cursor: pointer;
    padding: 0.5em 0.8em;
}
.toggle-button:hover {
    background-color: black !important;
    color: white;
}
.c1 {
    color: #FFD700;    
    width: 80%;
}
.c2 {
    color: white;    
}
.c3 {
    color: #FFD700;    
    width: 300px;
    text-align: right;
}

@media screen and (max-width: 480px) {

    body {
        font-size: 1em;
    }
    .c3 {
    }
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit; /* 親要素の色を引き継ぐ */
    text-decoration: none; /* 下線を削除 */
}
