<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genesis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
</head>
<body>
{% include 'header.html' %}
<style>
    rt {
        font-size: 8px !important;
    }
</style>
<div class="content">
    {% with template='old/ruby/' + section + '.htm' %}
        {% include template %}
    {% endwith %}
</div>
</body>
